//colors
$white: #ffffff;
$black: #000000;
$button_color_bg: #417505;
$menu_color: #fff;
$search_border: #dadadc;
$content_bg: #fbf9f3;
$footer_bg: #4a4a4a;
$dashbord_main_color: #333333;
$broder_color: #bcbcbc;

$font : 'Open Sans', sans-serif;

.noleftPadding{
    padding-left: 0px !important;
}
.norightPadding{
    padding-right: 0px !important;
}


%full_width{
    margin-left: calc(-50vw + 50%);
    margin-left: -webkit-calc(-50vw + 50%);
    width: calc(100vw - 9px);
    overflow: hidden;
    position: relative;
    padding-left: 0;
    content: 'viewport-units-buggyfill; margin-left: calc(-50vw + 50%); width: 100vw;';
}

/*@include square_image(33px,"0px 9px 0px 0");*/ 

@mixin square_image($width,$margin: 4px) {
    width: $width;
    height: $width;
    text-align: center;
    /*border: 1px solid $fade_color;*/
    float: left;
    display: block;
    margin: unquote($margin);
    overflow: hidden;
    /*    border-radius: 5px;
        -moz-border-radius:5px;
        -webkit-border-radius:5px;*/
    img{
        height: $width;
        margin: 0 auto;
    }
}

.heading{
    text-align: center;
    width: 100%;
    font: 600 25.39px $font;
}

.sub_heading{
    text-align: center;
    width: 100%;
    font: 14px $font;
}

.common_button{
    background: $button_color_bg;
    padding: 7px 35px;
    text-transform: uppercase;
    color: $white;
    text-decoration: none;
    font: 600 14.5px $font;
    border-radius: 5px;
    text-decoration: none;
    &:hover,&:focus,&:active{
        text-decoration: none;
        color: $white;
    }
}

ul{
    margin: 0;
}

.error_msg{
    font: 10px $font;
    color: red;
}

/*@extend %full_width;*/

.rating_area{
    width: 100px;
    height: 20px;
    background: url(../img/empty_star.png) repeat-x;
    position: relative;
    .rated_area{
        position: absolute;
        left: 0px;
        top: 0px;
        height: 20px;
        background: url(../img/fill_star.png) repeat-x;
        width: 50%;
    }
}

.common_link{
    color: $button_color_bg;
}


/*@media (min-width: 992px) and (max-width: 1199px) {
    top: 54px;
}*/