.dashboard_area{
    .header_area{
        background: #fff;
        height: 58px;
        .top_menu{
            .logo{
                img{
                    margin-top: 8px !important;
                }
            }
            .menu{
                padding-top:5px;
                ul{
                    li{
                        a{
                            font: 600 12.69px $font;
                            color: #4a4a4a;
                            &:hover{
                                color: #5a8725;
                            }
                        }
                        &.selected{
                            a{
                                color: #5a8725;
                            }
                        }
                    }
                }
            }
        }

    }
    .dashboad_sub_menu{
        height: 36px;
        @extend %full_width;
        background: $dashbord_main_color;
        border-top: 1px solid #858585;
        border-bottom: 1px solid #858585;
        ul{
            margin: 0px 0 0 128px;
            li{
                padding-top: 6px;
                padding-right: 44px;
                display: inline-block;
                a{

                    font:600 12.69px $font;
                    color: $white;
                    text-decoration: none;
                    &:hover{
                        color: #a1d569;
                    }
                }
                &.selected{
                    a{
                        color: #a1d569;
                    }
                }
            }
        }
        .search_area{
            padding-top: 3px;
            text-align: center;
            /*margin-top: 35px;*/
            .zip_code_search{
                width: 114px;
                height: 28px;
                padding-left: 20px;
                border-radius: 5px;
                border: 1px solid $search_border;
                margin-right: 10px;
            }
            .search_content{
                width: 106px;
                height: 28px;
                padding-left: 20px;
                border-radius: 5px 0px 0 5px;
                border: 1px solid $search_border;
                border-right: none;
                background: $white;
            }
            .search_type{
                height: 28px;
                margin-left: -4px;
                border: 1px solid $search_border;
                border-left: none;
                color: #3c3c3c;
                border-radius: 0px 5px 5px 0;
                -webkit-appearance: none;
                background: #ffffff;
            }
            .search_button{
                margin-left: 16px;
                padding: 4px 50px;
            }
        }
        @media(max-width: 580px){
            height: auto;
            .search_area{
                .zip_code_search{
                    width: 100% !important;
                    display: block;
                    margin-bottom: 5px;
                }
                .search_content{
                    width: 106px !important;
                    display: block;
                    float: left;
                }
                .search_type{
                    width: calc(100% - 106px) !important;
                }
                .search_button{
                    width: 100% !important;
                    display: block;
                    margin-top: 5px;
                    margin-left: 0 !important;
                }
            }
        }
    }
    .dashboad_content{
        padding-top: 24px;
        padding-bottom: 40px;
        .dashboad_menu{
            border: 1px solid #bbbbbb;
            width:100%;
            ul{
                margin: 0px;
                li{
                    border-bottom: 1px solid #bbbbbb;
                    a{
                        position: relative;
                        font: 600 15px $font;
                        color: #636363;
                        /*height: 50px;*/

                        width: 100%;
                        display: block;
                        padding: 14px 0 14px 12px;
                        img{
                            position: absolute;
                            right: -6px;
                            top: 16px;
                            display: none;
                        }
                        &:hover,&.selected{
                            text-decoration: none;
                            background: $dashbord_main_color;
                            color: $white;
                            img{
                                display: block;
                                @media(max-width: 767px){
                                    display: none;
                                }
                            }
                        }

                    }
                    &:last-child{
                        border: none;
                    }
                }
            }
        }
        .profile_info{
            position: relative;
            border: 1px solid #bbbbbb;
            width:100%;
            padding: 20px;
            .profile_pic{
                @include square_image(132px,"0px 0px 0px 0px");
                float: none;
                position: relative;
                .profile_pic_upload{
                    display: none;
                    position: absolute;
                    right: 0px;
                    top: 0px;
                    z-index: 1;
                    width: 20px;
                    height: 20px;
                    input{
                        display: none;
                    }
                    label{
                        width: 20px;
                        height: 20px;
                        display: block;
                        img{
                            width: 20px;
                            height: 20px;
                        }
                    }

                }

            }
            .user_name,.user_email,.user_phone{
                font: 600 12.69px $font;
                color: #333333;
                margin-top: 10px;
                img{
                    margin-right: 10px;
                }
                input{
                    display: none;
                    border: 1px solid $broder_color;
                    height: 30px;
                    padding: 0 0 0 10px;
                }
                .emailError{
                    padding-left: 47px;
                }
            }
            .profile_update_btn{
                position: absolute;
                right: 20px;
                top: 20px;
            }
            .update_info{
                border: none;
                margin-top: 20px;
            }

        }
        .recommended_pro_area{
            .recommended_img{
                position: relative;
                img{
                    width: 100%;
                }
                .recommended_overlay{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background:rgba(0,0,0,0.25);
                    top: 0px;
                    left: 0px;
                }
                .recommended_action{
                    position: absolute;
                    top: 140px;
                    left: 0px;
                    text-align: center;
                    width: 100%;
                    .recommended_heading{
                        font: 600 22.84px $font;
                        color: $white;
                        margin-bottom: 20px;
                    }
                    .strat_project_btn{

                    }
                }
            }
        }
        .history_table,.project_history_table{
            table{
                width: 100%;
                thead{
                    background: $dashbord_main_color;
                    th{
                        color: $white;
                        font: 600 12.69px $font;
                        text-transform: uppercase;
                        padding: 12px 0;
                        text-align: center;
                    }
                }
                tbody{
                    /*border: 1px solid #a4a99e;*/
                    td{
                        border-bottom: 1px solid #a4a99e;
                        border-right: 1px solid #a4a99e;
                        padding: 18px 0;
                        text-align: center;
                        font: 12.69px $font;
                        &:first-child{
                            border-left: 1px solid #a4a99e;
                        }

                    }
                    tr.shade{
                        background: #f2fce7;
                    }
                }
            }
        }

        .added_payment{
            padding: 0px;
            margin-bottom: 20px;
            height: 288px;
            border: 1px solid $broder_color;
            .added_payment_heading{
                height: 32px;
                background: $dashbord_main_color;
                text-align: center;
                font: 600 12.69 $font;
                color: $white;
                padding-top: 6px;
            }
            .added_payment_body{
                padding: 22px 0 0 18px;
                position: relative;

                .remove_payment{
                    position: absolute;
                    top: 6px;
                    right: 10px;
                    color: #373737;
                    font: 12.69px $font;
                    text-decoration: none;
                    &:hover{
                        text-decoration: none;
                    }
                }
                .card_icon{
                    margin-bottom: 26px;
                }
                .card_holder_name,.card_number,.card_date.card_holder_email{
                    font: 12.69px $font;
                    text-transform: uppercase;
                    color: #373737;
                    margin-bottom: 22px;
                }
                .card_holder_email{
                    text-transform: lowercase;
                }

            }
        }
        .adding_payment{
            text-align: center;
            padding-bottom: 94px;
            border: 1px solid $broder_color;
            a{
                img{
                    margin: 75px 0 20px 0;
                }
                font: 600 12.69px $font;
                text-transform: uppercase;
                color: #bcbcbc;
                &:hover{
                    text-decoration: none;
                }
            }
        }
        .withdraw_area{
            .available_heading{
                font: 600 15px $font;
                color: #4a4a4a;
            }
            .available_balance{
                font: 600 25px $font;
                color: #4a4a4a;
            }
            .withdraw_btn{
                padding-top: 10px;
                padding-bottom: 10px;
                display: block;
                text-align: center;
                margin: 10px 0 20px 0;
            }
            .available_text{
                font:10px $font;
                color: #9f9f9f;
                margin: 10px 0 20px 0;
            }
            .payout_polici_btn{
                color: #126fea;
            }
        }
        .manage_pass{
            padding-bottom: 22px !important;
            padding-right: 18px !important;
            label{
                float: left;
                font: 12.69px $font;
                margin-top: 5px;
            }
            input{
                float: right;
                margin-bottom: 18px;
                width: 160px;
                border: 1px solid $broder_color;
                height: 30px;
                padding: 0 0 0 10px;
            }
            .change_pass{
                display: block;
                width: auto;
                text-align: center;
                border-radius: 0px;
            }
        }
        .secret_question{
            padding-bottom: 22px !important;
            padding-right: 18px !important;
            label{
                float: left;
                font: 12.69px $font;
                margin-top: 5px;
            }
            input,select{
                float: right;
                margin-bottom: 18px;
                width: 230px;
                border: 1px solid $broder_color;
                height: 30px;
                padding: 0 0 0 10px;
                font: 11.42px $font;
                color: #636363;
            }
            .confirm_btn{
                display: block;
                width: auto;
                text-align: center;
                border-radius: 0px;
            }
        }
        .badges_body{
            padding-bottom: 22px !important;
            ul{
                li{
                    display: inline-block;
                    text-align: center;
                    font: 600 12.69px $font;
                    color: $dashbord_main_color;
                    margin-right: 50px;
                    &:last-child{
                        margin-right: 0px;
                    }
                    img{
                        margin-top: 20px;
                    }
                }
            }
        }
        .project_top{
            .project_left{

                height: 241px;

                padding: 22px;
                border: 1px solid $broder_color;
                border-right: none;
                .project_heading{
                    font: 600 25px $font;
                    margin-bottom: 10px;
                }
                .project_text{
                    font: 600 12.69px $font;
                }
                .strat_project_btn{
                    display: block;
                    text-align: center;
                    margin-top: 28px;
                }
            }
            .project_right{
                padding: 0px;
            }
        }
        .project_history_table{
            margin-top: 20px;
            a{
                text-decoration: none;

            }
        }
        .view_project{
            .porject_details_area{
                /*padding: 0px;*/
                border: 1px solid $broder_color;

                .project_details_info{
                    border-bottom: 1px solid $broder_color;
                    padding: 10px 0 10px 20px;
                    ul{
                        li{
                            margin: 0px 10px 0 0px;
                            display: inline-block;
                            img{
                                float: left;
                            }
                            .project_type{
                                margin: 10px 0 0 18px;
                                float: left;
                                font: bold 15px $font;
                                span{
                                    font: 600 12.69px $font;    
                                    color: $broder_color;
                                }
                            }
                            &.project_verified{
                                margin-left: 20px;
                                img{
                                    margin-bottom: -10px;
                                }

                            }
                        }
                    }
                }
                .project_details{
                    padding:  20px;
                    .project_details_heading{
                        font: bold 12.69px $font;   
                        text-transform: uppercase;
                        margin-bottom: 5px;
                        margin-top: 10px;
                    }
                    .project_details_text{
                        font: 600 12.69px $font;
                        margin-bottom: 20px;
                    }
                    .project_details_photo{
                        img{
                            margin-bottom: 5px;
                        }
                    }
                }
                &.view_quoute_area{
                    border: none;
                    .company_details_area{
                        position: relative;
                        border: 1px solid $broder_color;
                        .company_logo{
                            /*padding: 16px;*/

                            @include square_image(78px,"10px auto 10px auto");
                            float: none;
                        }
                        .company_details{
                            border-left: 1px solid $broder_color;
                            padding: 16px 0 14px 12px;
                            float: left;
                            /*width: 100%;*/

                            .company_name{
                                font: bold 15px $font;
                                color: $dashbord_main_color;
                                float: left;
                                position: relative;
                                .edit_button{
                                    position: absolute;
                                    top: 0px;
                                    right: 0px;
                                }
                                a{
                                    color: $dashbord_main_color;
                                    &:hover{
                                        text-decoration: none;
                                    }
                                }
                            }
                            .company_moto{
                                font: 600 12.69px $font;
                                color: #909090;
                                width: 200px;
                                overflow: hidden;
                                text-overflow: ellipsis; 
                                white-space: nowrap;
                            }
                            .company_basic_info{
                                margin-top: 10px;
                                ul{
                                    li{
                                        height: 20px;
                                        display: inline-block;
                                        margin-right: 35px;
                                        &.user_review_area{
                                            padding-top: 3px;
                                            .rating_area,.review_text{
                                                float: left;

                                            }
                                            .review_text{
                                                margin-left: 10px;
                                                padding-top: 2px;
                                            }
                                        }
                                    }
                                }
                            }

                        }
                        .verified_pro{
                            padding-top: 10px;
                        }

                    }
                    .project_details{
                        border: 1px solid $broder_color;
                        border-top: none;
                    }
                    .reviews_area{
                        margin-top: 20px;
                        border: 1px solid $broder_color;
                        text-align: center;
                        padding-bottom: 20px;
                        .reviews_heading{
                            text-align: left;
                            background: #c6d5b4;
                            font: bold 15px $font;
                            padding: 8px 24px;
                            .rating_area,.reviews_text{
                                float: left;
                            }


                        }
                        .reviews_list_area{
                            text-align: left;
                            padding:24px;
                            padding-bottom: 0px;
                            ul{
                                li{
                                    .username_rating{
                                        .username{
                                            font: bold 12.69px $font;
                                            float: left;
                                        }
                                        .rating{
                                            float: left;
                                            margin-left: 10px;
                                        }
                                    }
                                    .review_date{
                                        margin: 5px 0 10px 0;
                                        font:  12.69px $font;
                                    }
                                    .review_text{
                                        font: 12.69px $font;
                                        margin-bottom: 20px;
                                    }
                                }
                            }
                        }
                        .view_more_btn{
                            border: 1px solid $broder_color;
                            color: $button_color_bg;
                            font: 600 12.69px $font;
                            padding: 10px 40px;
                            text-transform: uppercase;
                            /*display: block;*/
                            margin: 0 auto;
                            &:hover,&:focus,&:active{
                                text-decoration: none;
                            }
                        }
                    }
                    .company_address_area{
                        border: 1px solid $broder_color;
                        border-right: none;
                        border-top: none;
                        @media(min-width: 992px){
                            display: flex;
                        }
                        .address_part{
                            padding: 20px;
                            text-align: center;
                            border-right: 1px solid $broder_color;
                            .address_heading{
                                font: bold 15px $font;
                            }
                            .address_text{

                            }

                        }
                    }

                }

                &.find_contractor{
                    .request_quote{
                        color: #396704;
                        line-height: 37px;
                        border: 1px solid $broder_color;
                        display: block;
                        /*padding: 0 25px;*/
                        text-align: center;
                        margin: 20px 0;
                        &:hover{
                            text-decoration: none;
                        }
                    }
                }


            }
            .user_details_area{
                .userName_photo{
                    margin-bottom: 10px;
                    text-align: center;
                    padding: 20px;
                    border: 1px solid $broder_color;
                    .user_photo{
                        text-align: center;
                        @include square_image(87px,"0px 0px 0px 0px");
                        float: none; 
                        margin: 0 auto;
                        border-radius: 50%;

                    }
                    .user_name{
                        font: bold 12.69px $font;    
                    }
                    .user_reviews{
                        margin-top:10px;
                        .user_rating{
                            width: 50px;
                            float: left;
                        }
                        .rating_area{
                            float: left;
                        }
                        .review_text{
                            margin-top: 2px;
                            margin-left: 6px;
                            float: left;
                            font: 600 12.69px $font;    
                        }
                    }
                    .send_quote{
                        display: block;
                        text-align: center;
                        border-radius: 0px;
                        margin-top: 10px;
                    }
                }
                .user_contact{
                    margin-bottom: 10px;
                    padding: 10px;
                    text-align: center;
                    border: 1px solid $broder_color;
                    .contact_heading{
                        font: 600 12.69px $font;  
                        text-transform: uppercase;
                    }
                    .contact_address{
                        font: 600 12.69px $font; 
                        margin-bottom: 10px;
                    }
                }
                .user_project_hire{
                    /*padding: 10px;*/
                    text-align: center;
                    border: 1px solid $broder_color;
                    .project_count,.hire_count{
                        padding: 5px;
                        float: left;
                        font: 600 12.69px $font; 
                        width: 50%;
                        border-right: 1px solid $broder_color;
                    }
                    .hire_count{
                        border-right: none;
                    }

                    .button_area{
                        border-top: 1px solid $broder_color;
                        padding: 20px 34px;
                        .accept_btn,.message_btn,.decline_btn,.payment_btn{
                            border: 2px solid $broder_color;
                            font: 600 12.69px $font; 
                            color: $button_color_bg;
                            padding: 10px 20px;
                            display: block;
                            text-align: center;
                            text-transform: uppercase;
                            margin-bottom: 10px;
                            &.selected{
                                background: $button_color_bg;
                                color: $white;
                            }
                            &:hover,&:focus,&:active{
                                text-decoration: none;
                            }
                        }

                    }

                }

                .license_area{
                    margin-bottom: 10px;
                    text-align: center;
                    border: 1px solid $broder_color;

                    .license_heading{
                        background: #c6d5b4;
                        padding: 10px 0;
                        text-transform: uppercase; 
                        font: bold 15px $font; 
                    }
                    .license_details{
                        text-align: left;
                        padding: 20px 0 0 40px;
                        .single_license{
                            margin-bottom:20px;
                            span{
                                font: 600 12.69px $font; 
                                &.license_num{
                                    text-transform: uppercase;
                                } 
                            }

                        }
                    }
                    .service_details{
                        text-align: left;
                        ul{
                            li{
                                margin: 10px 0;
                                padding-left: 10px;
                                font: 600 12.69px $font; 
                                img{
                                    margin-right: 10px;
                                }
                            }
                        }
                    }
                }
            }
            .user_details_area{

                .request_a_quote_btn_area{
                    margin-bottom: 10px;
                    border: 1px solid $broder_color;
                    background-color: #fff;
                    height: inherit;
                    padding-top: 45px;
                    text-align: center;
                    min-height: 104px;
                    a{
                        border-radius: 0px;
                        @media(min-width: 768px) and (max-width: 991px){
                            padding-left: 0px;
                            padding-right: 0px;
                        }

                    }
                    @media(max-width: 768px){
                        margin-top: 10px;
                    }
                }
            }
        }
        .your_project_area{
            margin-bottom: 20px;
            .your_project_menu{
                height: 23px;
                ul{
                    li{
                        margin-left: -3px;
                        display: inline-block;
                        a{
                            padding: 4px 14px;
                            font: 600 12.9px $font;
                            color: $button_color_bg;
                            border: 1px solid $broder_color;
                            border-bottom: none;
                            border-radius: 5px 5px 0 0 ;
                        }
                        &:first-child{
                            margin-left: 0px;
                        }
                        &:hover,&.selected{
                            a{
                                text-decoration: none;
                                background: $button_color_bg;
                                color: $white;
                            }
                        }
                    }
                }
            }
            .your_project_body{
                border: 1px solid $broder_color;
                border-top: 5px solid $button_color_bg;
                padding: 20px;
                padding-bottom: 0px;
                .your_project{
                    margin-bottom: 20px;
                    border: 1px solid $broder_color;
                    .your_project_heading{
                        padding: 6px 10px 0 10px;
                        background-color: #8fba57;
                        height: 30px;

                        .your_project_heading_left{
                            font:600 12.69px $font;
                            color: $white;
                            float: left;
                        }
                        .your_project_heading_right{
                            float: right;
                            font:600 12.69px $font;
                            color: $white;
                        }
                    }
                    .your_project_main{
                        padding: 20px;
                        .project_user_pic{
                            @include square_image(100px,"0px 0px 0px 0"); 
                            border-radius: 50%;
                        }
                        .project_user_info{
                            .project_user_name{
                                font: 600 12.69px $font;
                                color: $dashbord_main_color;

                            }
                            .project_user_rating{
                                font:  12.69px $font;
                                color: $dashbord_main_color;
                                margin-bottom: 20px;
                                .rating_area,.reviews_text{
                                    float: left;
                                    margin-right: 10px;
                                }
                            }
                            .project_user_email{
                                font:  12.69px $font;
                                color: $dashbord_main_color;
                            }
                            .project_user_phone{
                                font:  12.69px $font;
                                color: $dashbord_main_color;
                            }
                        }
                        .request_payment_btn{
                            a{
                                padding: 7px 20px;
                            }
                        }
                    }
                }
                .current_project{

                }
                .complete_project{
                    display: none;
                }
                .canceled_project{
                    display: none;
                }
            }
        }
        .your_business_area{
            margin-bottom: 20px;
            border: 1px solid $broder_color;
            .your_project_main{
                padding: 20px;
                .project_user_pic{
                    @include square_image(100px,"0px 0px 0px 0"); 
                    border: 1px solid $broder_color;

                }
                .project_user_info{
                    .project_user_name{
                        font: 600 12.69px $font;
                        color: $dashbord_main_color;
                        margin-bottom: 4px;

                    }
                    .project_user_rating{
                        font:  12.69px $font;
                        color: $dashbord_main_color;
                        margin-bottom: 4px;
                        .rating_area{
                            float: left;
                        }
                        .review_text{
                            float: left;
                        }

                    }
                    .experience{
                        color: #898989;
                        margin-bottom: 10px;
                        width: 200px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    .project_user_email{
                        font:  12.69px $font;
                        color: $dashbord_main_color;
                        margin-bottom: 4px;
                    }
                    .project_user_phone{
                        font:  12.69px $font;
                        color: $dashbord_main_color;
                    }
                }
                .request_payment_btn{
                    img{
                        float: right;
                    }
                }

            }
        }

        .show_payment_method{
            &:after{
                display: table;
                content: "";
                clear: both;
            }
            .payment_method{
                float: left;
                width: 316px;
                padding: 5px 10px;
            }
        }

        .view_profile_area{
            .profile_header_area{
                padding: 20px;
                background: #ffffff;
                .profile_header_top{
                    .companyLogo{
                        @include square_image(90px,"0px 0px 0px 0");
                        margin-right: 10px;
                    }
                    .company_short_details{
                        width: calc(100% - 210px);
                        float: left;
                        .company_short_details_top{
                            .companyName{
                                font: bold 15px "Open Sans", sans-serif;
                                color: #333333;
                            }
                            .companySubName{
                                font: 600 12.69px "Open Sans", sans-serif;
                                color: #909090;
                                width: 200px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }
                        }
                        .company_short_details_bottom{
                            margin-top: 10px;
                            ul{
                                li{
                                    font-weight: 600;
                                    height: 20px;
                                    display: inline-block;
                                    margin-right: 35px;
                                    &.user_review_area{
                                        padding-top: 3px;
                                        .rating_area,.review_text{
                                            float: left;

                                        }
                                        .review_text{
                                            margin-left: 10px;
                                            padding-top: 2px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .complay_verification{
                        margin-left: 10px;
                        float: right;
                        width: 100px;
                        img{
                            width: 100%;
                        }
                    }
                }
                .profile_header_bottom{
                    margin-top: 20px;
                    ul{
                        li{
                            text-align: center;
                            width: 32%;
                            display: inline-block;
                            .heading{
                                font: bold 15px $font;
                            }
                            .text{

                            }
                        }
                    }
                }
            }
            .profile_details_area{
                margin-top: 20px;
                padding: 20px;
                background: #ffffff;
                .project_details{
                    .project_details_heading{
                        font: bold 12.69px $font;   
                        text-transform: uppercase;
                        margin-bottom: 5px;
                    }
                    .project_details_text{
                        font: 600 12.69px $font;
                        margin-bottom: 20px;
                    }
                    .project_details_photo{

                    }
                }
            }
            .profile_address_area{
                margin-top: 20px;
                text-align: center;
                .address_content_area{
                    .address_content_header{
                        padding: 20px;
                        background: #fff;
                        .heading{
                            font: bold 15px $font;
                            margin-bottom: 5px;
                        }
                        .text{
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            height: 20px;
                        }
                    }
                    .address_map{

                    }
                }
            }
            .profile_service_offer_area{
                margin-top: 20px;
                padding: 20px;
                background: #ffffff;
                .service_offer_heading{
                    font: bold 15px $font;
                    text-transform: uppercase;
                    &.brand_used{
                        margin-top: 20px;
                    }
                }
                .service_offer_content{
                    margin-top: 10px;
                    ul{
                        li{
                            display: inline-block;
                            margin-right: 10px;
                        }
                    }
                }
            }
            .profile_review_area{
                margin-top: 20px;
                /*padding: 20px;*/
                background: #ffffff;
                .reviews_area{
                    margin-top: 20px;
                    /*border: 1px solid $broder_color;*/
                    text-align: center;
                    padding-bottom: 20px;
                    .reviews_heading{
                        text-align: left;
                        background: #c6d5b4;
                        font: bold 15px $font;
                        padding: 8px 24px;
                        .rating_area,.reviews_text{
                            float: left;
                        }


                    }
                    .reviews_list_area{
                        text-align: left;
                        padding:24px;
                        padding-bottom: 0px;
                        ul{
                            li{
                                .username_rating{
                                    .username{
                                        font: bold 12.69px $font;
                                        float: left;
                                    }
                                    .rating{
                                        float: left;
                                        margin-left: 10px;
                                    }
                                }
                                .review_date{
                                    margin: 5px 0 10px 0;
                                    font:  12.69px $font;
                                }
                                .review_text{
                                    font: 12.69px $font;
                                    margin-bottom: 20px;
                                }
                            }
                        }
                    }
                    .view_more_btn{
                        border: 1px solid $broder_color;
                        color: $button_color_bg;
                        font: 600 12.69px $font;
                        padding: 10px 40px;
                        text-transform: uppercase;
                        /*display: block;*/
                        margin: 0 auto;
                        &:hover,&:focus,&:active{
                            text-decoration: none;
                        }
                    }
                }
            }
            .claim_business_area{
                /*margin-top: 20px;*/
                padding: 20px;
                background: #ffffff;
                text-align: center;
                .claim_business_btn{
                    border-radius: 0px;
                    text-transform: uppercase;
                    background-color: #417505;
                    font: 14px $font;
                    color: #fff;
                }
                .share_area{
                    margin-top: 10px;
                    .heading{
                        font: bold 15px $font;
                        text-transform: uppercase;
                    }
                }
            }
            .profile_license_area{
                margin-top: 20px;
                background: #ffffff;
                .license_area{
                    margin-bottom: 10px;
                    text-align: center;
                    /*border: 1px solid $broder_color;*/

                    .license_heading{
                        background: #c6d5b4;
                        padding: 10px 0;
                        text-transform: uppercase; 
                        font: bold 15px $font; 
                    }
                    .license_details{
                        text-align: left;
                        padding: 20px 0 0 40px;
                        .single_license{
                            margin-bottom:20px;
                            span{
                                font: 600 12.69px $font; 
                                &.license_num{
                                    text-transform: uppercase;
                                } 
                            }

                        }
                    }
                    .service_details{
                        text-align: left;
                        ul{
                            li{
                                margin: 10px 0;
                                padding-left: 10px;
                                font: 600 12.69px $font; 
                                img{
                                    margin-right: 10px;
                                }
                            }
                        }
                    }
                }
            }

            .business_hour_area{
                margin-top: 20px;
                background: #ffffff;
                .license_area{
                    margin-bottom: 10px;
                    text-align: center;
                    /*border: 1px solid $broder_color;*/

                    .license_heading{
                        background: #c6d5b4;
                        padding: 10px 0;
                        text-transform: uppercase; 
                        font: bold 15px $font; 
                    }

                }
                .business_hour_lists{
                    margin-top: 10px;
                    ul{
                        li{
                            margin-bottom: 5px;
                            .day_text{
                                float: left;
                                width: 50%;
                                font: 600 12.69px $font; 
                                text-align: left;
                                padding-left: 35px;
                            }
                            .day_activity{
                                float: left;
                                width: 50%;
                                text-align: left;
                                padding-left: 35px;
                            }
                        }
                    }
                }
                .request_a_quote_btn{
                    border-radius: 0px;
                    text-transform: uppercase;
                    background-color: #ffb400;
                    font: 14px $font;
                    color: #fff;
                    margin: 20px auto;
                }
            }
            .awards_achievements_area{
                margin-top: 20px;
                background: #ffffff;
                .license_area{
                    margin-bottom: 10px;
                    text-align: center;
                    /*border: 1px solid $broder_color;*/

                    .license_heading{
                        background: #c6d5b4;
                        padding: 10px 0;
                        text-transform: uppercase; 
                        font: bold 15px $font; 
                    }

                }
                .awards_achievements_lists{
                    padding: 20px;
                    text-align: left;
                    ul{
                        li{
                            margin-bottom: 10px;
                            img{
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }

            //New Style
            .new-pro-design {
                color: #494949;
                font-family: 'Open Sans';
                letter-spacing: .5px; 

                span.r-area {  }
                h3 {
                    font-size: 13px; font-weight: 600;font-family: 'Open Sans';
                    padding: 0px 0 15px 0; margin: 0px;letter-spacing: .5px;
                    line-height: 22px;
                }
                a { outline: none; }
                .whitebox { background: #fff; padding-top: 25px; padding-bottom: 28px; }
                .pro-vm {
                    text-align: center; margin-top: 30px!important; width: 100%; float: left;
                    a { color: #f9a006;  border: #f9a006 solid 1px;  padding: 10px 50px; margin-top: 15px; text-transform: uppercase;
                        border-radius:7px;-moz-border-radius:7px;-webkit-border-radius:7px;font-size: 12px;font-weight: 600;}
                    a:hover { text-decoration: none!important;}
                }
                .sec-row { margin-top: 10px; }
                .sidebar-l1 {
                    .pro-logo {
                        text-align: center;
                        a {
                            img {
                                max-width: 100%;
                            }
                            h2 { color: #494949; width: 100%; float: left; font-size: 14px; font-weight: bold; letter-spacing: .5px; margin: 25px 0 17px 0; padding: 0; }
                        }
                        a:hover { text-decoration: none; }
                    }
                    .pro-main-reviews {
                        p {
                            width: 100%; float: left; text-align: center; letter-spacing: .5px;
                            img {}
                            span {  width: 100%; float: left; text-align: center; font-size: 12px; padding-top: 10px; }
                        }
                    }
                    .pro-verified {
                        text-align: center; margin: 4px 0 0 0; width: 100%; float: left;
                    }
                    .pro-social {
                        margin: 15px 0 20px 0; width: 100%; float: left; text-align: center;
                        ul {
                            text-align: center;
                            li { 
                                display:inline-block; margin-right: 7px; 
                                a { outline: none; }
                                a:hover { opacity: .7; } 
                            }
                            li:last-child { margin-right: 0; }
                        }
                        a { border-radius: 50%; -moz-border-radius: 50%; }
                        .jssocials-share-logo { font-size: 11px!important; }
                        .jssocials-share-link {  width: 25px!important; height: 25px!important; border-radius: 50%; border-radius: 50%; text-align: center; }
                        .jssocials-share { margin-right: 5px; }
                        .jssocials-share:last-child { margin-right: 0px; }
                    }
                    .pro-basic-info {
                        ul {
                            li {
                                width: 100%; float: left; font-size: 12px; letter-spacing: .5px; padding-bottom: 14px; font-weight: bold;
                                a { color: #1d1d1d;}
                                a:hover{ text-decoration: none; }
                                span {
                                    width: 30px; float: left;
                                    i { color: #3d7423; font-size: 20px; font-style: normal; }
                                }
                                em { font-style: normal; width: auto; float: left;}
                            }
                            li:last-child { padding-bottom: 6px; }
                        }
                    }
                    .pro-claim {
                        text-align: center; margin-top: 30px!important; width: 100%; float: left;
                        a {color: #fff;  background :#f9a006;  padding: 10px 50px; margin-top: 15px; text-transform: uppercase;
                           border-radius:7px;-moz-border-radius:7px;-webkit-border-radius:7px;font-size: 12px;font-weight: 600;}
                        a:hover { text-decoration: none;}
                    }
                }
                .pro-content {
                    font-weight: normal; font-size: 12.5px; line-height: 25px; text-align: justify;  float: left; width: 100%;
                    p { font-weight: normal; font-size: 12.5px; line-height: 25px; text-align: justify; margin: 0; padding-bottom: 20px; float: left; width: 100%; }
                    p:last-child { padding-bottom: 0px; } 
                    h3 { text-transform: uppercase; }
                }
                .pro-so {  }
                .pro-bh,.pro-so {
                    //min-height: 260px!important;
                    ul {
                        li {
                            float: left; width: 100%; padding-bottom: 7px; font-size: 12.5px; letter-spacing: .5px; font-weight: 600; color: #494949;
                            span.bhd { float: left; width: 100px; padding-right: 10px; }
                            a.more-service { color: #3d7423; }
                        }
                        li:last-child {padding-bottom: 0px;}
                    }
                }
                .sidebar-l2 {
                    padding-top: 5px; padding-bottom: 5px;
                    .big-ct { max-width: 100px; letter-spacing: .5px; color: #902e4b; font-size: 60px; float: left; padding-right: 15px; }
                    h3 { padding-top: 17px;  }
                    .rev-count-left {
                        padding-top: 25px; padding-bottom: 15px;
                        img { padding-bottom: 10px; }
                        span { font-size: 13px; font-weight: bold; letter-spacing: .5px; }
                        .rating_area { float: left!important; margin-top: -10px; }
                    }
                    .s-areas {
                        float: left; padding-bottom: 20px;
                        ul {
                            li {
                                padding-bottom: 8px;
                                a { font-size: 12.5px; color: #494949; font-weight: 600; letter-spacing: .5px;}
                                a:hover { text-decoration: none;}
                            }
                            li:last-child { padding-bottom: 0px;}
                        }
                    }
                }
                .sidebar-l2:after, 
                    .sidebar-l2:before { left: 100%; top: 30px; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none;}
                .sidebar-l2:after { border-color: rgba(255, 255, 255, 0); border-left-color: #fff; border-width: 10px; margin-top: -10px;}
                .sidebar-l2:before { border-color: rgba(255, 255, 255, 0);border-left-color: #fff;border-width: 10px;margin-top: -10px; }
                .pro-map {
                    iframe { width: 100%; height: 268px; }
                }
                .pro-reviews {
                    ul {
                        li {
                            width:100%; padding: 0 0 20px 0; float: left;
                            a {
                                font-size: 13px; color: #494949; font-weight: bold;
                                span { float: left; padding-right: 20px; }
                                img { float: left;  padding-top: 3px;}
                            }
                            a:hover { text-decoration: none; }
                            p { line-height: 25px; width: 100%; float: left; padding: 10px 0 0 0; letter-spacing: .5px; font-size: 13px; color: #494949; }
                        }
                        li:last-child { padding-bottom: 0px; }

                    }
                    .rating_area { float: left!important; }
                }
                .pro-gallery {
                    // display: none;
                    ul {
                        li {
                            width:25%; padding: 0 1% 1% 0; float: left;
                            a {}
                            img { float: left; width: 100%; }
                        }
                        li.hclass { display: none; }
                    }
                }

                //Sidebar
                .sidebar-sb { 
                    margin-bottom: 12px;  
                    h3 { text-align: center; }
                }
                .pro-in {
                    p { 
                        text-align: center; font-size: 13px; font-family: 'Open Sans'; 
                        letter-spacing: 1px; padding: 0px; margin: 0px; 
                    }
                    p:last-child { padding-top: 28px!important; }
                    p:last-child a { 
                        color: #fff; background: #3d7423; padding: 10px 50px; margin-top: 15px; text-transform: uppercase;
                        border-radius:7px;-moz-border-radius:7px;-webkit-border-radius:7px;font-size: 12px;font-weight: 600;
                    }
                    p:last-child a:hover { text-decoration: none; }
                }
                .pro-ac {  
                    li { 
                        text-align: center; width: 100%; padding-top: 25px; float: left;  
                        img.img-responsive  { margin: 0 auto; }
                    }

                    li:first-child { padding-top: 15px; }

                }
                .pro-li {
                    p { padding-bottom: 90px; font-family: 'Open Sans'; font-size: 13px;  letter-spacing: .5px; }
                    span { width: 100%; float: left; padding-bottom: 7px; }
                    em { font-style: normal; font-weight: 600; width: 90px; padding-right: 10px; float: left;}
                    i { font-style: normal; font-weight: 600; }
                    p:last-child { 
                        padding-bottom: 0px;
                        span:last-child { padding-bottom: 0px;  }
                    }

                }
                .pro-pv {
                    li {
                        font-family: 'Open Sans'; letter-spacing: .5px;
                        width: 100%; text-align: center; padding-bottom: 25px; margin-bottom: 25px; border-bottom: #f5f5f5 solid 5px;
                        img { max-width: 100%; padding: 10px; border:#f5f5f5 solid  5px   ;  }
                        h4 { font-weight: bold; font-size: 14px; padding: 20px 0 10px 0; margin: 0; }
                        p { font-size: 13px; font-style: italic; padding: 10px 0 0 0; font-weight: normal;  }
                    }
                    li:first-child { padding-top: 10px; }
                    li:last-child { padding-bottom: 0px; margin-bottom: 0px; border-bottom: none; } 
                }
                .review-mobile { display: none; }
                .c-r { width: 100px; margin: 0 auto; }
            }
            @media(max-width: 1199px) {
                .new-pro-design {
                    .pro-in  { 
                        p {
                            a { padding: 7px 15px!important; }
                        }
                    }

                    .pro-claim  { 
                        a { padding: 7px 15px!important; }
                    }
                    .pro-basic-info {
                        ul {
                            li {
                                a {
                                    i { display: none; }
                                }
                            }
                        }
                    }
                    .sidebar-l2 {
                        .big-ct { width: 100%!important; float: left; }
                        h3 { width: 100%!important; float: left; }
                    }
                }
            }

            @media(max-width: 999px) {
                .new-pro-design {
                    .pro-lb1 { padding-right: 0!important; }
                    .pro-rb { padding-left:  0!important;}
                    .pro-in  { 
                        p {
                            a { padding: 3px 7px!important; font-size: 10px!important; 
                                border-radius: 4px!important;
                                -moz-border-radius: 4px!important;
                                -webkit-border-radius: 4px!important;
                            }
                        }
                    }

                    .pro-claim  { 
                        a { padding: 3px 7px!important; font-size: 10px!important;
                            border-radius: 4px!important;
                            -moz-border-radius: 4px!important;
                            -webkit-border-radius: 4px!important;
                        }
                    }

                    .sidebar-l1 {
                        .pro-logo {
                            a {
                                h2 { line-height: 20px; }  
                            } 
                        }
                    }

                    .sidebar-l1 {
                        .pro-social{
                            ul {
                                li { margin-right: 3px; }
                            }
                        } 
                    }

                    .pro-two-block {
                        width: 100%!important;
                    }

                    .pro-li {
                        em {  width: 100%!important; text-align: center; }
                        i { text-align: center;  width: 100%!important; float: left; }
                    }

                    .pro-basic-info {
                        ul {
                            li {
                                span { width: 100%!important; text-align: center;}
                                em { width: 100%!important; text-align: center;}
                            }
                        }
                    }
                }
            }

            @media(max-width: 767px) {
                .new-pro-design {
                    background: #ededed;
                    .whitebox { background: none; }
                    .pro-two-block { margin-top: 10px!important; float: left; }
                    .sidebar-l2 {
                        .big-ct { text-align: center!important; min-width: 100%!important; }
                        h3 { padding-top: 10px!important; text-align: center; } 
                    }
                    .s-areas  {width: 100%!important; text-align: center;}
                    .rev-count-left { 
                        width: 100%!important; text-align: center;
                        .rating_area {
                            /*                                width: 100px!important;
                                                            margin: 53px auto 0!important;*/
                            display: none;
                        }
                    }
                    .pro-lb1 { overflow: hidden; background: #fff; float: left; width: 100%; padding: 0 0 20px 0!important; margin-bottom: 10px; }
                    .pro-lb2 { overflow: hidden; background: #fff; float: left; width: 100%; padding: 0 0 20px 0!important; margin-bottom: 0px; }
                    .pro-full { overflow: hidden; background: #fff; float: left; width: 100%; padding: 0 0 20px 0!important;   }
                    .pro-in { overflow: hidden; background: #fff; float: left; width: 100%; padding: 10px 0 20px 0!important; margin-bottom: 10px; }
                    .pro-ac { overflow: hidden; background: #fff; float: left; width: 100%; padding: 10px 0 20px 0!important; margin-bottom: 10px; }
                    .pro-li { overflow: hidden; background: #fff; float: left; width: 100%; padding: 10px 0 20px 0!important; margin-bottom: 10px; }
                    .pro-pv { overflow: hidden; background: #fff; float: left; width: 100%; padding: 10px 0 20px 0!important; margin-bottom: 10px; }
                    .pro-reviews {
                        overflow: hidden; background: #fff; float: left; width: 100%; padding: 0px!important; margin-top: 10px; 
                        ul {
                            padding-left: 25px!important;
                            padding-right: 25px!important;
                            float: left;
                        }
                    }
                    .sidebar-l2:after,.sidebar-l2:before { display: none!important; }
                    .pro-rb { margin-top: 10px!important; width: 100%!important; float: left; padding: 0 0 0px 0!important;}
                    .review-desktop { display: none; }
                    .review-mobile { display: block; margin-top: -50px!important; }
                    .pro-social { text-align: center; }

                }

            }





        }

    }
    .start_a_projects{
        .search_result_area{
            padding-top: 20px;
            padding-bottom: 20px;
            .search_result_heading{
                font: 600 25px $font;
                color: $dashbord_main_color;
            }
            .search_result{
                font: 600 15px $font;
                color: #8a8a8a;
                span{
                    color: $dashbord_main_color;
                }
            }
        }
        .get_quotes_area{
            padding-top: 20px;
            
            .get_quotes_heading{
                font: 600 25px $font;
                text-align: center;
                margin-bottom: 20px;
                background: $content_bg;    
            }
            .get_quotes_details{
                .get_quotes_link{
                    .get_quotes_link_heading{
                        font: 600 20px $font;
                        text-align: center;
                        margin-bottom: 20px;
                    }
                }
                .how_it_work_type{
                    padding: 0px 0 70px 0;
                    text-align: center;
                    .type_image{
                        margin: 0 auto;
                        width: 155px;
                        height: 155px;
                        background: $white;
                        border-radius: 50%;
                        text-align: center;
                        padding-top: 20px;
                        &.share_details_icon{
                            padding-top: 40px;
                        }
                        &.hire_icon{
                            padding-top: 44px;
                        }
                    }
                    .type_heading{
                        font: bold 16px $font;
                        margin-top: 18px;
                    }
                    .type_text{
                        font:600 12.69px $font;
                    }
                }
            }
            .project_form{



                background: $white;
                padding: 22px;
                .project_details_heading{
                    color: #4a4a4a;
                    font: 600 20px $font;
                    border-bottom: 2px solid $broder_color;
                    padding-bottom: 6px;
                }
                .input_text{
                    margin: 22px 0 10px 0;
                    font: 600 15px $font;
                }
                textarea,input[type="text"],input[type="password"]{
                    width: 100%;
                    border: 1px solid $broder_color;
                    padding-left: 10px;
                }
                textarea{
                    padding: 10px;
                }
                input[type="text"],input[type="password"]{
                    height: 36px;
                }
                .project_attachment, .awards_attachment, .image_upload_button {
                    opacity: 0;
                    line-height: 0;
                    height: 10px;
                }


                .awards_achievements { width: 380px!important; float: left !important;}
                .awards_upload { margin: -10px 0 0 10px!important; padding-top: 0px!important; float: left!important; }

                .project_attachment_btn, .image_upload_button_label{
                    margin-bottom: 20px;
                    padding: 7px 20px;
                    font: bold 12px $font;
                    img{
                        margin-top: -4px;
                    }
                }
                .term_condition_area{
                    margin: 20px 0px 0 0;
                    label{
                        margin-right: 10px;
                        width: 24px;
                        height: 25px;
                        display: block;
                        background: $button_color_bg;
                        float: left;
                        border-radius: 5px;
                    }
                    input:checked + label {
                        background: url('../img/checkbox_check.png') $white no-repeat center center ;
                        width: 24px;
                        height: 25px;
                        border: none;
                    }
                    input{
                        opacity: 0;
                    }
                    .term_condition{
                        float: left;
                        font: 600 15px $font;
                    }
                    .termsConditionsError{
                        text-align: left;
                    }
                }
                .submit_request{
                    display: block;
                    margin-top: 20px;
                    text-align: center;
                    border-radius: 0px;
                    width: 100%;

                }

                .company_license_area{
                    margin-top: 20px;
                    margin-bottom: 20px;
                    .license_list{
                        position: relative;
                        .license_part{
                            padding-left: 0px;
                            .license_heading{
                                font: 600 15px $font;
                            }
                            .license_input{
                                margin-top: 10px;
                            }

                        }
                        .remove_license_list,.delete_license{
                            position: absolute;
                            right: 0px;
                            top: 21px;
                            width: 11px;
                            height: 11px;
                            display: block;
                        }
                    }
                }
                .add_another_license{
                    border: 1px solid $broder_color;
                    color: $button_color_bg;
                    padding: 8px 10px;
                    border-radius: 5px;
                    &:hover{
                        text-decoration: none;
                    }
                }


                .upload_file_info{
                    font: 15px $font;
                    margin: 20px 0;
                    span{
                        color: #898989;
                    }
                }

                .address_area{
                    input{

                    }

                    .input_list{
                        padding-right: 15px;
                        padding-bottom: 15px;
                        float: left;
                        width: 33.3%;
                        &.street_address{
                            width: 100%;
                        }
                        select{
                            width: 100%;
                            margin: 0;
                        }

                    }
                }
                select{
                    height: 36px;
                    width: 100%;
                    border: 1px solid $broder_color;
                    &.state{
                        display: inline-block;
                        margin-bottom: 18px;
                        width: 33%;
                    }
                }

                .services_area{
                    display: none;
                    label{
                        width: 25px;
                        height: 25px;
                        border: 1px solid $broder_color;
                        margin: 0px 10px 10px 0;
                        float: left;
                    }
                    input:checked + label {
                        background: url('../img/tick_mark_gray.png') $white no-repeat center center ;
                        width: 25px;
                        height: 25px;
                        border: 1px solid $broder_color;
                    }
                    input{
                        opacity: 0;
                        display: none;
                    }
                    span{
                        float: left;
                    }
                }
                .sub_category_area{
                    display: none;
                    .single_sub_category_area{
                        .sub_category_list{
                            .single_sub_category{

                                padding: 0px;
                                label{
                                    width: 25px;
                                    height: 25px;
                                    border: 1px solid $broder_color;
                                    margin: 0px 10px 10px 0;
                                    float: left;
                                }
                                input:checked + label {
                                    background: url('../img/tick_mark_gray.png') $white no-repeat center center ;
                                    width: 25px;
                                    height: 25px;
                                    border: 1px solid $broder_color;
                                }
                                input{
                                    opacity: 0;
                                    display: none;
                                }
                                span{
                                    float: left;
                                }
                            }
                        }

                    }


                    .services_list{
                        margin-bottom: 20px;
                        display: none;
                        background: #f9f9f9;
                        border: 1px solid $broder_color;
                        /*border-top: none;*/
                        padding: 25px;
                        .services_heading{
                            font: 600 15px $font;
                            margin-bottom: 18px;
                        }
                        .services{
                            .single_services{
                                padding: 0px;
                                label{
                                    width: 25px;
                                    height: 25px;
                                    border: 1px solid $broder_color;
                                    margin: 0px 10px 10px 0;
                                    float: left;
                                }
                                input:checked + label {
                                    background: url('../img/tick_mark_gray.png') $white no-repeat center center ;
                                    width: 25px;
                                    height: 25px;
                                    border: 1px solid $broder_color;
                                }
                                input{
                                    opacity: 0;
                                    display: none;
                                }
                                span{
                                    float: left;
                                }
                            }
                        }
                    }



                }

                .specific_contractors_area{
                    position: relative;
                    .specific_contractors_searches_area{
                        width: 100%;
                        height: 300px;
                        overflow-y: auto;
                        background: $white;
                        display: none;
                        position: absolute;
                        top: 65px;
                        left: 0px;
                        z-index: 1;
                        border: 1px solid $broder_color;
                        padding: 20px;
                        ul{
                            li{
                                a {
                                    font: 600 12.69px $font;
                                    color: $dashbord_main_color;
                                    &:hover,&:focus{
                                        text-decoration: none;
                                    }
                                }
                            }
                        }
                    }
                    .specific_contractors_searched_area{
                        .single_searched_contractor{
                            height:30px;
                            padding: 10px 0 0 0;
                            input{
                                width: auto;
                                display: inline-block;
                                /*background: $white;*/
                                border: none;

                            }
                            span{
                                font: 600 12.69px $font;
                            }
                            a{
                                display: inline-block;
                                img{
                                    margin-left: 10px;
                                }
                            }
                        }
                    }
                }

                .budget_input{
                    position: relative;
                    .doller_icon{
                        position: absolute;
                        left: 10px;
                        top: 8px;
                        color: $broder_color;
                    }
                    input{
                        padding-left: 19px;
                    }
                }

                .add_another_service_offer,.add_another_awards_achievements,.add_another_brand_name{
                    /*margin-top: 10px;*/
                    display: inline-block;
                    border: 1px solid $broder_color;
                    color: $button_color_bg;
                    padding: 6px 10px;
                    border-radius: 5px;
                    &:hover{
                        text-decoration: none;
                    }
                }
                .item_list_container{
                    .single_service_area_listing,.single_service_offer_listing,.single_awards_achievements_listing{
                        margin: 5px 0;
                        .service_area_text{

                        }
                        .service_area_removed,.service_offer_removed,.awards_achievements_removed{
                            cursor: pointer;
                        }
                    }
                }
                .service_area_container,.service_offer_container,.awards_achievements_container{
                    .error_msg{
                        position: initial !important;
                    }
                }
                .operating_hours_container{
                    .single_operating_hours{
                        margin-bottom: 10px;
                        .separation{
                            text-align: center;
                        }
                    }
                }
                .social_media_container{
                    .social_item{
                        margin-bottom: 10px;
                    }
                }

                .progress{ 
                    display: none;
                    margin-top: 14px;
                    position:relative;
                    width:100%;
                    border: 1px solid #ddd;
                    padding: 1px;
                    border-radius: 3px;
                }
                .bar{ 
                    background-color: #B4F5B4;
                    width:0%;
                    height:20px;
                    border-radius: 3px;
                }
                .percent{ 
                    position:absolute;
                    display:inline-block;
                    top:0px; left:48%;
                }




            }
            .another_license_copy{
                display: none;
            }
            .view_file{
                .single_file{
                    margin-right: 10px;
                    margin-bottom: 10px;
                    float: left;
                    width: 90px;
                    position: relative;
                    & > img{
                        width: 100%; 
                    }
                    .delete_img{
                        position: absolute;
                        top: 1px;
                        right: 1px;
                        background: #fff;
                        padding: 2px;
                        img{
                            margin: 0px;
                        }
                    }
                }
            }
            .input_list{
                padding: 0 0 15px 0;
                position: relative;
                .error_msg{
                    /*position: absolute;*/
                    bottom: 0px;
                    left: 0px;

                }
            }
            .service_select_area,.subcategory_area{
                display: none;
            }

        }
    }

    .message_area{
        @extend %full_width;
        .message_user_area{
            padding: 0px;
            .user_search_area{
                position: relative;
                padding: 5px 7px 5px 15px;
                background: #f3f8f9;
                input{
                    width: 100%;
                    border: 1px solid $broder_color;
                    padding-left: 20px; 
                    font: 10px $font;
                    height: 20px;
                } 
                img{
                    position: absolute;
                    left: 20px;
                    top: 10px;
                }
            }
            .online_user_list{
                border-top: 1px solid $broder_color;
                ul{
                    li{
                        cursor: pointer;
                        position: relative;
                        padding: 7px 7px 7px 15px;
                        .online_user_img{
                            @include square_image(30px,"0px 0px 0px 0px");
                            border-radius: 3px;
                            position: relative;
                            .online_icon{
                                position: absolute;
                                bottom: 0px;
                                right: 0px;
                                width: 11px;
                                height: 11px;
                                background: url(../img/green_icon.png) no-repeat;
                            }
                        }
                        .online_user_name{
                            font: 12.69px $font;
                            float: left;
                            margin-top: 6px;
                            margin-left: 10px;
                        }
                        .online_user_message_counter{
                            position: absolute;
                            right: 14px;
                            top: 12px;
                            height: 20px;
                            width: 20px;
                            background: $button_color_bg;
                            color: $white;
                            text-align: center;
                            border-radius: 50%;

                        }
                    }
                }
            }
        }
        .inbox_area{
            border-left: 1px solid $broder_color;
            padding: 0;
            .inbox_list{
                height: 400px;
                overflow-y: auto;
                border-bottom: 1px solid $broder_color;
                padding: 0px 10px;
                ul{
                    li{
                        cursor: pointer;
                        border-bottom: 1px solid #f1f4f5;
                        padding: 20px 15px;
                        .inbox_user_img{
                            @include square_image(58px,"0px 10px 0px 0px");
                            border-radius: 10px;
                        }
                        .inbox_message_details{
                            padding-left: 68px;
                            position: relative;
                            /*float: left;*/
                            .inbox_user_name{
                                font:600 15px $font;
                                color: $button_color_bg;
                                &.own_user{
                                    color: #575757;
                                }
                            }
                            .inbox_message{
                                font: 12.69px $font;
                                color: #7f878a;
                                padding: 0 96px 0 0;
                            }
                            .download_attachment{
                                text-decoration: none;
                                &:hover,&:active,&:focus{
                                    text-decoration: none;
                                }
                            }
                            .message_date{
                                position: absolute;
                                top: 0px;
                                right: 10px;
                                color: #7f878a;
                                font: 10px $font;
                            }
                            .sending_file{
                                font:italic 11.46px $font;
                                color: $broder_color;
                                margin: 10px 0;
                            }
                            .sending_file_progress_area{
                                .file_icon{
                                    float: left;
                                    margin-right: 20px;
                                }
                                .progress_area{

                                    float: left;
                                    .file_name{
                                        font: 600 10.15px $font;
                                        color: #575757;
                                    }
                                    .progress_bar_area{
                                        position: relative;
                                        .progress_bar{
                                            border-radius: 3px;
                                            margin: 5px 0;
                                            background: #dce6e8;
                                            height: 18px;
                                            width: 426px;
                                            .progress_complete_bar{
                                                width: 0%;
                                                height: 18px;
                                                background: $button_color_bg;
                                                border-radius: 3px;
                                            }
                                        }
                                        .file_upload_cancle{
                                            position: absolute;
                                            right: -20px;
                                            top: 3px;
                                        }
                                    }
                                    .file_upload_status{
                                        font: 600 8.88px $font;
                                        color: #575757;
                                    }
                                }
                            }

                        }
                        &:last-child{
                            border-bottom: none;
                        }

                        &.unRead{
                            background: #dfedd0;
                        }
                    }
                }
            }
            .type_message_area{
                padding: 12px 15px;
                .type_message{
                    position: relative;
                    float: left;
                    width: 818px;
                    textarea{
                        width: 100%;
                        height: 48px;
                        border: 1px solid $broder_color;
                        padding: 10px;
                    }
                    .attach_btn{
                        position: absolute;
                        right: 10px;
                        top: 10px;
                        cursor: pointer;
                    }
                }
                .send_btn{
                    width: 67px;
                    height: 48px;
                    background: $button_color_bg;
                    display: block;
                    float: left;
                    text-align: center;
                    padding-top: 10px;
                    margin-left: 15px;

                }
            }
        }

    }

}

.more_categorie{
    padding: 50px 0;
    ul{
        li{
            margin: 0 38px 38px 38px;
            padding: 10px;
            text-align: center;
            border: 1px solid $broder_color;
            float: left;
            width: 150px;
            height: 150px;
            display: block;
            a{
                div{
                    font: 600 15px $font;
                    color: $dashbord_main_color;
                    height: 40px;
                }
                img{
                    margin-top: 10px;
                }
                &:hover,&:focus{
                    text-decoration: none;
                }
            }
        }
    }
}

.find_pro_category_area{
    margin: 20px 0;
    padding: 20px;
    border: 1px solid $broder_color;
    .find_pro_headding{
        font: 600 20px $font;
        color: $dashbord_main_color;
        margin-bottom: 20px;
    }
    .find_pro_category_lists{
        .find_pro_category{
            margin: 10px 0;
            .find_pro_category_name{
                font: 600 15px $font;
                color: $dashbord_main_color;
                a{
                    font: 600 15px $font;
                    color: $dashbord_main_color;
                    &:hover{
                        text-decoration: none;
                    }
                }
            }
            .find_pro_services{
                padding-left:20px;
                display: none;
                ul{
                    li{
                        padding: 5px 0;
                        a{
                            font: 600 12.69px $font;
                            color: #3f700a;
                            &:hover{
                                text-decoration: none;
                            }
                        }
                    }
                }
                &.show{
                    /*display: block;*/
                }
            }
        }

    }

}
.passwordError{
    margin-bottom: 10px;
    font-size: 10px;
    text-align: center;
}

.reset_password_area{
    padding: 30px;
    margin: 0 auto;
    width: 300px;
    .reset_password_heading{
        font: 600 15px $font;
        color: $dashbord_main_color;
        margin-bottom: 20px;
    }
    .reset_password_body{
        input{
            margin-bottom: 18px;
            width: 200px;
            border: 1px solid $broder_color;
            height: 30px;
            padding: 0 0 0 10px;
            font: 12.7px $font;
        }
    }
    .change_pass{
        padding: 7px 10px;
    }
}

.dashboad_content{
    &.por_finder_list_container{

        &.blurMode{
            -webkit-filter: blur(4px);
            -moz-filter: blur(4px);
            -ms-filter: blur(4px);
            -o-filter: blur(4px);
            filter: blur(4px);  
        }



        /*background: #f9f9f9;*/
        .por_finder_list_area{
            .single_por_finder_list{

                margin-bottom: 10px;
                .company_info_area{
                    background-color: #fff;
                    position: relative;
                    border: 1px solid $broder_color;
                    .company_logo{
                        /*padding: 16px;*/

                        @include square_image(78px,"10px auto 10px auto");
                        float: none;
                    }
                    .company_details{
                        border-left: 1px solid $broder_color;
                        padding: 16px 0 14px 12px;
                        float: left;
                        /*width: 100%;*/
                        @media(max-width: 767px){
                            border-left: none;
                        }
                        .company_name{
                            font: bold 15px $font;
                            color: $dashbord_main_color;
                            float: left;
                            position: relative;
                            .edit_button{
                                position: absolute;
                                top: 0px;
                                right: 0px;
                            }
                            a{
                                color: $dashbord_main_color;
                                &:hover{
                                    text-decoration: none;
                                }
                            }
                        }
                        .company_moto{
                            font: 600 12.69px $font;
                            color: #909090;
                            width: 200px;
                            overflow: hidden;
                            text-overflow: ellipsis; 
                            white-space: nowrap;
                        }
                        .company_basic_info{
                            margin-top: 10px;
                            ul{
                                li{
                                    height: 20px;
                                    display: inline-block;
                                    margin-right: 35px;
                                    &.user_review_area{
                                        padding-top: 3px;
                                        .rating_area,.review_text{
                                            float: left;

                                        }
                                        .review_text{
                                            margin-left: 10px;
                                            padding-top: 2px;
                                        }
                                    }
                                }
                            }
                        }

                    }
                    .verified_pro{
                        padding-top: 10px;
                    }
                }
                .request_a_quote_btn_area{
                    border: 1px solid $broder_color;
                    background-color: #fff;
                    height: inherit;
                    padding-top: 45px;
                    text-align: center;
                    min-height: 104px;
                    a{
                        border-radius: 0px;
                        @media(min-width: 768px) and (max-width: 991px){
                            padding-left: 0px;
                            padding-right: 0px;
                        }

                    }
                    @media(max-width: 768px){
                        margin-top: 10px;
                    }
                }
            }

        }
    }
}
.business_adding_area{
    .heading_area{
        padding-bottom: 0px;
    }
    .business_list_btn{
        margin-top: 0px;
    }
}

.project_details_photo{
    img{
        margin-bottom: 5px;
    }
}
