.footer_area{
    @extend %full_width;
    min-width: 100%;
    min-height: 164px;
    background: $footer_bg;

    /*margin-right: 50px;*/
    display: inline-block;
    .footer_element_area{
        padding: 20px 0px 20px 132px;
        .footer_element{
            margin-right: 30px;
            .child_ul{
                margin-bottom: 20px;
                li{
                    &:first-child{
                        color: $white;
                        font: bold 12.34px $font;
                        margin-bottom: 6px;
                    }
                    a{
                        color: #9c9c9c;
                        font: 11px $font; 
                    }
                    color: #9c9c9c;
                    font: 11px $font; 
                    line-height: 18px;

                }
            }
            &:last-child{
                margin-right: 0px !important;
            }
            @media  (max-width: 767px) {
                margin-right: 0px;
            }
        }
        @media (min-width: 992px) and (max-width: 1200px) {
            padding-left: 60px;
        }
        @media  (max-width: 767px) {
            padding-left: 0px;
        }
    }


}

