.header_area,.your_business{
    @extend %full_width;
    overflow: visible !important;
    .top_menu{
        position: absolute;
        z-index: 1;
        width: 100%;
        .logo{
            padding: 0;
            a{
                max-width: 100%;
            }
            img{
                margin: 16px 0 0 32px !important;
                @media(max-width: 480px){
                    margin: 22px 0 0 22px !important;
                    width: 178px;
                }
            }
        }
        .menu{
            padding: 14px 0 0 0;
            text-align: right;
            .expand_menu{
                border: 1px solid #666;
                border-radius: 5px;
                float: right;
                overflow: hidden;
                width: 40px;
                height: 40px;
                margin-right: 10px;
                img{
                    width: 30px;
                    margin: 5px;
                }
            }
            ul{
                li{
                    padding: 10px 0;
                    display: inline-block;
                    background-position: right center;
                    background-repeat: no-repeat;
                    a{
                        color: $menu_color;
                        padding: 0 30px;
                        font: 600 12.7px $font;
                        &.become_pro{
                            border: 1px solid $menu_color;
                            padding-top: 10px;
                            padding-bottom: 10px;
                        }
                        &:hover,&:focus,&:active{
                            text-decoration: none;
                        }
                        img{
                            margin-left: 6px;
                            margin-top: -4px;
                            display: inline;
                        }
                        .user_pic{
                            @include square_image(43px,"0px 10px 0px 0"); 
                            /*float: right;*/
                            border-radius: 50%;
                            position: absolute;
                            top: -11px;
                            right: 10px;
                        }
                        &.user_name{
                            padding-right: 70px;
                            position: relative;
                            display: inline-block;
                        }
                    }
                    &.notification{
                        position: relative;
                        .notification_area{
                            display: none;
                            position: absolute;
                            right: 0px;
                            top: 34px;
                            .notification_arrow{
                                width: 12px;
                                height: 6px;
                                float: right;
                                margin-right: 20px;
                            }
                            .notification_block{
                                box-shadow: 0px 9px 17px  -4px #000;
                                text-align: left;
                                width: 327px;
                                max-height: 415px;
                                overflow: auto;
                                background: $white;
                                ul{
                                    display: block;
                                    li{
                                        width: 100%;
                                        border-bottom: 1px solid #5c5c5c;
                                        padding: 12px;
                                        .project_title{
                                            margin-bottom: 8px;
                                            font: 600 15px $font;
                                            img{
                                                margin-top: -4px;
                                                margin-right: 5px;
                                            }
                                        }
                                        .details{
                                            margin-bottom: 10px;
                                            color: #777777;
                                            font: 600 12.7px $font;
                                            .category_name{
                                                color: $black;
                                            }
                                        }
                                        .action_area{
                                            .view_btn{
                                                font: 600 15px $font;
                                                text-transform: uppercase;
                                                background: #88bc52;
                                                display: inline-block;
                                                color: $white;
                                                padding: 10px 40px;
                                            }
                                            .discard_btn,.viewed_btn{
                                                font: 600 15px $font;
                                                text-transform: uppercase;
                                                background: $white;
                                                color: #4a4a4a;
                                                border: 1px solid #4a4a4a;
                                                display: inline-block;
                                                padding: 10px 26px;
                                            }
                                            .viewed_btn{

                                            }
                                        }
                                        &.unRead{
                                            background: #dfedd0;
                                            /*border: none;*/
                                        }
                                        &:last-child{
                                            border: none;
                                        }
                                    }
                                }
                            }
                        }
                        .notification_counter{
                            position: absolute;
                            width: 20px;
                            height: 20px;
                            background: #417505;
                            border-radius: 50%;
                            top: 0px;
                            right: -13px;
                            text-align: center;
                            color: $white;
                            display: none;
                        }
                        &:hover{
                            .notification_area{
                                display: block;
                            }
                        }

                    }
                }
            }
        }
        .expand_menu,.logout{
            display: none !important;
        }
        .user_icon{
            position: relative;
            ul{
                position: absolute;
                top: 37px;
                right: 0;
                display: none;
                width: 100%;
                padding-top: 10px;
                li{
                    background: rgba(0,0,0,0.8);
                    min-width: 160px;
                    a{
                        color: #fff !important;
                    }   
                }
            }
            &:hover{
                ul{
                    display: block;
                } 
            }
        }
        &.home_menu{
            li.business_center{
                background-image: url(../img/business_icon.png);
            }
            li.dashboard{
                background-image: url(../img/settings_icon.png);
            }
            li.messages{
                background-image: url(../img/message_icon.png);
                position: relative;
                .unread_notification{
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    background: #417505;
                    border-radius: 50%;
                    top: 0px;
                    right: -13px;
                    text-align: center;
                    color: #ffffff;
                    display: none;
                }
            }
            li.notification{
                background-image: url(../img/notification_icon.png);
            }
        }
        &.dash_menu{
            li.business_center{
                background-image: url(../img/dashboard_business_icon.png);
            }
            li.dashboard{
                background-image: url(../img/dashboard_settings_icon_hover.png);
            }
            li.messages{
                background-image: url(../img/dashboard_message_icon.png);
                position: relative;
                .unread_notification{
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    background: #417505;
                    border-radius: 50%;
                    top: 0px;
                    right: -13px;
                    text-align: center;
                    color: #ffffff;
                    display: none;
                }
            }
            li.notification{
                background-image: url(../img/dashboard_notification_icon.png);
            }
        }
        &.home_menu,&.dash_menu{
            li:hover.business_center{
                background-image: url(../img/dashboard_business_icon.png);
            }
            li:hover.dashboard{
                background-image: url(../img/dashboard_settings_icon_hover.png);
            }
            li:hover.messages{
                background-image: url(../img/dashboard_message_icon.png);
            }
            li:hover.notification{
                background-image: url(../img/dashboard_notification_icon.png);
            }
        }
        @media (max-width: 1090px){
            &.home_menu,&.dash_menu{
                .expand_menu,.logout{
                    display: block !important;
                }
                .user_icon{
                    display: none !important;
                }
                .menu > ul{
                    display: block;
                    width: 100vw;
                    position: fixed;
                    left: 0px;
                    top: 57px;
                    background: rgba(0,0,0,.8);
                    display: none;
                    li.business_center{
                        background-image: url(../img/business_icon.png);
                    }
                    li.dashboard{
                        background-image: url(../img/settings_icon.png);
                    }
                    li.messages{
                        background-image: url(../img/message_icon.png);
                    }
                    li.notification{
                        background-image: url(../img/notification_icon.png);
                    }
                    li{
                        display: block;
                        text-align: right;
                        a{
                            color: #fff !important;
                        }
                        &:hover{
                            .home_menu_bg{
                                display: none;
                            }
                            .hover_bg{
                                display: inline;
                            }
                        }
                    }
                }
            }
        }
    }
    .top_banner{
        position: relative;
        .banner_img{
            position: relative;
            overflow-x: hidden;
            img{
                width: 100%;
                filter:brightness(105%);
                
            }
            
            .banner_overlay{
                position: absolute;
                width: 100%;
                height: 100%;
                background:rgba(0,0,0,0.25);
                top: 0px;
                left: 0px;
            }
            &.pro_banner_image{
                img{
                    filter:brightness(90%);
                }
            }

        }
        
        .banner_content{
            position: absolute;
            left: 0px;
            top: 318px;
            width: 100%;
            text-align: center;
            .banner_heading{
                font: 63px $font;
                color: $white;
                @media  (max-width: 767px) {
                    font-size: 30px;
                }
                text-shadow: 1px 1px 5px #000;
            }
            .banner_sub_heading{
                font: 25px $font;
                color: $white;
                text-shadow: 1px 1px 5px #000;
            }
            .search_area{
                margin-top: 35px;
                .zip_code_search{
                    width: 150px;
                    height: 50px;
                    padding-left: 20px;
                    border-radius: 5px;
                    border: 1px solid $search_border;
                    margin-right: 10px;
                }
                .search_content{
                    width: 250px;
                    height: 50px;
                    padding-left: 20px;
                    border-radius: 5px 0px 0 5px;
                    border: 1px solid $search_border;
                    border-right: none;;
                    background: $white;
                }
                .search_type{
                    height: 50px;
                    margin-left: -4px;
                    border: 1px solid $search_border;
                    border-left: none;
                    color: #3c3c3c;
                    border-radius: 0px 5px 5px 0;
                    -webkit-appearance: none;
                    background: #fff;
                    width: 270px;
                }
                .search_button{
                    margin-left: 16px;
                    line-height: 37px;
                    display: inline-block;
                }
                @media  (max-width: 767px) {
                    margin-top: 15px;
                }
            }

            @media (min-width: 768px) and (max-width: 992px) {
                top: 140px;
            }
            @media  (max-width: 767px) {
                top: 140px;
            }
        }
        &.pro_banner{
            .banner_content{
                top: 194px;
                @media(max-width: 991px){
                    top: 80px;
                    .banner_heading{
                        font-size: 30px;
                    }
                }
                .banner_sub_heading{
                    margin-bottom: 30px;
                }
                .listing_business{
                    padding: 12px 50px;
                    @media(max-width: 767px){
                        padding: 10px 25px;
                    }
                }
            }
        }

        @media(max-width: 767px){
            min-height: 320px;
            .banner_img img{
                height: 320px;
                width: auto;
            }
            .banner_content{
                top: 68px;
                .banner_heading{
                    font-size: 25px;
                }
                .banner_sub_heading{
                    font-size: 20px;
                }
            }
            .search_area{
                .zip_code_search{
                    width: 100% !important;
                    display: block;
                    margin-bottom: 5px;
                }
                .search_content{
                    width: 106px !important;
                    display: block;
                    float: left;
                }
                .search_type{
                    width: calc(100% - 106px) !important;
                }
                .search_button{
                    width: 100% !important;
                    display: block;
                    margin-top: 5px;
                    margin-left: 0 !important;
                }
            }
        }
    }
}

