.category_area{
    padding: 24px 0 38px 0;
    text-align: center;
    .heading{
        margin-bottom: 18px;
    }
    .category{
        padding: 0 12px 12px 0;
        position: relative;
        .category_img{
            position: relative;
            img{
                width: 100%;

            }
            .category_overlay{
                position: absolute;
                width: 100%;
                height: 100%;
                /*background:rgba(0,0,0,0.25);*/
                top: 0px;
                left: 0px;
            }

        }
        &:hover{
            img{
                filter:brightness(130%);
            }
        }
        .category_text{
            position: absolute;
            top: 78px;
            left: 0px;
            width: 100%;
            text-align: center;
            /*font-weight: bold;*/
            font-family: $font;
            font-size: 19px;
            color: $white;
            top: calc(50% - 1em);
            @media (min-width: 481px) and (max-width: 991px) {
                font-size: 15px;
            }
            @media  (max-width: 480px) {
                font-size: 15px;
            }
            .category_real_text{
                padding: 0 10px;
                display: inline-block;
                /*border: 2px solid $white;*/
                text-transform: uppercase;
            }
        }
        &.first_category{
            overflow: hidden;
            @media(min-width: 1200px){
                height: 377px;
            }
            @media(min-width: 768px) and (max-width: 991px){
                height: 251px;
                img{
                    height: 239px;
                }
            }
            @media(min-width: 992px) and (max-width: 1199px){
                height: 323px;
                img{
                    height: 311px;
                }
            }
        }
        &:after{
            background:rgba(0,0,0,0.6);
        }
    }
    .find_more_btn{
        margin-top: 20px;
        display: inline-block;
    }

    .pro_video{
        @media(max-width: 520px){
            iframe{
                width: 100%;
            }
        }
    }
}

.how_it_work_area{
    @extend %full_width;
    padding: 34px 0 20px 0;
    background: $content_bg;
    .heading{
        margin-bottom: 60px;
    }
    .how_it_work_type_area{
        @media  (min-width: 768px) {
            padding: 0 80px;
        }


        .how_it_work_type{
            text-align: center;
            .type_image{
                margin: 0 auto;
                width: 115px;
                height: 115px;
                /*background: $white;*/

                border-radius: 50%;
                text-align: center;
                padding-top: 42px;
                &.share_details_icon{
                    padding-top: 40px;
                }
                &.hire_icon{
                    padding-top: 44px;
                }
            }
            .type_heading{
                font: 300 21px "Open Sans",sans-serif;
                margin-top: 18px;
            }
            .type_text{
                font: 300 18px "Lato",sans-serif;
            }
        }
    }
    .hiw_video{
        margin: 40px auto 20px auto;
        max-width: 695px;
        width: 80%;
        position: relative;
        .vid_inner{
            height: 0;
            position: relative;
            padding-bottom: 56.2%;
            iframe{
                position: absolute;
                width: 100%;
                height: 100%;
            }
        }

        @media  (max-width: 767px) {
            width: 100%;
            padding: 0 10px;
            iframe{
                width: 100%;
            }
        }
    }
    &.pro_page{
        padding-bottom: 40px;
    }
}



.recommendation_area{
    padding: 28px 0 30px 0;
    .heading{
        margin-bottom: 10px;
    }
    .sub_heading{
        margin-bottom: 32px;
    }
    .recommendation_group{
        .single_recommendation{

            text-align: center;
            .recommendation{
                position: relative;
                margin: 0 auto 20px auto;
                height: 340px;
                border: 1px solid #dcdcdc;
                width: 100%;
                max-width: 293px;
                .recommendation_banner{
                    overflow: hidden;
                    height: 170px;
                    img{

                    }
                }
                .recommendation_content{
                    height: 155px;
                    padding-top: 20px;
                    .recommendation_heading{
                        font: 18px $font;
                        color: #3f3f3f;

                        height: 20px;
                    }
                    .recommendation_rating{
                        height: 20px;
                        .rating_area{
                            margin: 6px auto;
                        }
                    }
                    .recommendation_text{
                        height: 40px;
                        font: 14px $font;
                        color: #545454;
                        padding: 10px;
                    }
                }
                .recommendation_user{
                    @include square_image(120px,"0px 0px 0px 0"); 
                    position: absolute;
                    top: 75px;
                    left: calc(50% - 60px);;
                    border-radius: 50%;
                    float: none;

                }

            }
        }
    }
}

.business_adding_area{
    @extend %full_width;
    background: $content_bg;
    text-align: center;
    padding: 40px 0;
    .business_list_btn{
        margin-top: 10px;
        display: inline-block;
    }

    &.pro_bottom{
        background: $white;
    }
}
.about_us_area{
    @extend %full_width;
    text-align: center;

    .about_us_text_area{
        padding: 50px 0;
        .about_us_text_heding{
            font-weight: 600;
            font-size: 25px;
            margin-bottom: 16px;

        }
        .about_us_text{
        }
        .about_us_border{
            width: 100px;
            border-bottom: 2px solid #3d7423;
            margin: 24px auto 0 auto;

        }
    }
    .center-block{
        float: none;
    }
    .about_us_image{
        img{
            width: 100%;
        }
    }
}

.heading_area{
    padding: 30px 0;
    text-align: center;
    .main_heading{
        font: 300 35px "Lato",sans-serif;

    }
    .heading_border{
        width: 150px;
        border-bottom: 1px solid #acacac;
        margin: 17px auto 27px;

    }
    .sub_main_heading{
        font: 300 18px "Lato",sans-serif;
        color: #6f6f6f;
        margin-bottom: 30px;
    }
}

.normal_border{
    width: 150px;
    border-bottom: 1px solid #acacac;
    margin: 30px auto;
}


.pro_feature_area{
    padding-bottom: 40px;
    text-align: center;
    .pro_feature_details{
        color: #7b7b7b;
        font: 300 18px "Lato",sans-serif;
    }
    .por_feature_type{
        margin-top: 40px;
        color: #7b7b7b;
        font: 300 18px "Lato",sans-serif;
        text-align: left;
        @media  (min-width: 768px) {
            padding-left: 50px;
        }
        .single_pro_feature_type{
            margin-bottom: 30px;
        }
    }
    .pro_feature_star{
        margin-top: 40px;
        color: #7b7b7b;
        font-size: 30px;
        font-weight: normal;
        letter-spacing: 10px;
    }
}
.banner_content{
    &.become_pro_page{
        @media  (min-width: 768px) {
            top: 200px !important;
        }
    }
}