
modal-dialog{
    /*width: 700px;*/
}
.modal-content{
    border-radius: 0px !important;
    .close{
        position: absolute;
        right: 10px;
        top: 10px;
        height: 20px;
        width: 20px;
        background: #ccc;
    }
}

.sign_up_area{
    .sign_up_form{

        padding: 25px 0 20px 0;
        text-align: center;

        /*width: 298px;*/
        @media(min-width: 768px){
            position: absolute;
            height: 100%;
        }
        .under_logo_text,.forgot_password_heading{
            font: 16px $font;
            color: #808080;
            margin: 10px 0 20px 0;
        }
        .sign_up_input{
            position: relative;
            margin-bottom: 18px;
            padding: 0 30px ;
            input{
                font: 12.7px $font;
                /*color: #adadad;*/
                border: 1px solid $broder_color;
                height: 38px;
                width: 100%;

                padding-left: 10px;
            }

            &.confirm_pass{
                input{
                    width: calc(100% - 98px);
                    float: left;
                }
                .sign_me_up{
                    float: left;
                    width: 98px;
                    height: 38px;
                    line-height: 38px;
                    border: 1px solid $broder_color;
                    border-left: none;
                    background: #71bf1b;
                    display: block;
                    color: $white;
                    &:hover{
                        text-decoration: none;
                    }

                }
                .login{
                    float: left;
                    width: 98px;
                    height: 38px;
                    line-height: 38px;
                    border: 1px solid $broder_color;
                    border-left: none;
                    background: #4a90e2;
                    display: block;
                    color: $white;
                    &:hover{
                        text-decoration: none;
                    }

                }
            }
        }
        .have_account{
            margin-bottom: 10px;
            font:600 12.7px $font;
            a{
                color: #6aa1ff;
                &:hover{
                    text-decoration: none;
                }
            }
        }
        .sign_up_footer_menu{
            bottom: 8px;
            position: absolute;
            left: 0;
            right: 0;
            ul{
                li{
                    margin: 0 6px;
                    display: inline-block;
                    a{
                        font:600 8.89px $font;
                        color: #717171;
                    }
                }
            }
        }
        .userNameError,.userEmailError,.userPasswordError{
            display: none;
            font: 10px $font;
            color: red;
            margin-top: 5px;
            position: absolute;
            border: 0px;
            left: 30px;
        }
        .forgot_password_area{
            padding: 0 30px;
            display: none;
            .userPasswordError{
                position: static;
                text-align: left;
            }

            input,select{

                margin-bottom: 18px;
                width: 100%;
                border: 1px solid $broder_color;
                height: 30px;
                padding: 0 0 0 10px;
                font: 12.7px $font;


            }
            .forgot_password_btn,.cancel_btn{
                display: inline-block;
                padding: 7px 20px;
            }
        }
        .forgot_password{
            font: 12.7px $font;
            float: left;
            color: #6aa1ff;
            text-decoration: none;
            &:hover{
                text-decoration: none;
            }
        }

    }
    .sign_up_img{
        /*width: 300px;*/
        float: left;
        @media(min-width: 768px){
            float: right;
        }
        img{
            width: 100%;
        }
        padding: 0;
    }
}

.addPayPalAccount,.addCreditCard{
    text-align: center;
    .addPayPalAccountArea{
        padding: 38px 0;
        width: 245px;
        margin: 0 auto;
        .paypal_email,.name_on_the_card,.card_number{
            height: 36px;
            width: 100%;
            border: 1px solid $broder_color;
            margin-bottom: 10px;
            padding-left: 10px;
        }
        .card_icon{
            margin-bottom: 34px;
            text-align: left;
            label{
                cursor: pointer;
                &:active{
                    opacity: 0.9;
                }
            }
            img{
                display: inline-block;
            }
            input{
                display: none;
            }
        }
        .addPayPalBtn,.addCardBtn,.addPaymentBtn {
            display: block;
            padding-left: 0px;
            padding-right: 0px;
            text-transform: uppercase;
        }

        .card_info_area{
            margin-bottom: 10px;
            text-align: left;
            .expiry_date_aera{
                width: 135px;
                float: left;
                .expiry_date_label{
                    margin-bottom: 5px;
                    font: 12.69px $font;
                    color: #515151;
                }
                .expiry_date_input{
                    select{
                        /*width: 100%;*/
                        margin-right: 10px;
                        height: 38px;
                        border: 1px solid $broder_color;
                        /*                        text-align: center;*/
                        float: left;
                        &:last-child{
                            margin-right: 0;
                        }
                    }
                }
            }
            .cvv{
                margin-left: 20px;
                width: 70px;
                float: left;
                .cvv_label{ 
                    margin-bottom: 5px;
                    position: relative;
                    font: 12.69px $font;
                    color: #515151;
                    .what_is_this{
                        font: 7.61px $font;
                        color: #82b4ff;
                        position: absolute;
                        right: 0px;
                        top: 2px;
                    }
                }
                .cvv_input{
                    input{
                        width: 90px;
                        height: 38px;
                        border: 1px solid $broder_color;
                        padding-left: 10px;
                    }
                }
            }
        }

        .paypla_footer{
            margin-top: 80px;
            font: 600 11.42px $font;
            img{
                margin-top: -3px;
            }
        }
        .paypal_heading{
            margin-bottom: 20px;
        }

        .paypal_area{
            display: none;
        }
        .credit_area{
            /*display: none;*/
        }
        .error_msg{
            text-align: left;
        }
    }
}
.processPayout{
    text-align: center;
    .process_payout_area{
        padding: 40px 0;
        width: 244px;
        margin: 0 auto;
        .available_balance_text{
            font: 600 15px $font;
            color: #4a4a4a;
            margin-bottom: 10px;
        }
        .amount{
            font: 600 25px $font;
            color: #4a4a4a;
            margin-bottom: 20px;
        }
        .withdraw_input_area{
            margin-bottom: 10px;
            input{
                background: $white;
                float: left;
                width: 131px;
                height: 38px;
                border: 1px solid $broder_color;
                padding-left: 10px;
                &.withdraw_amount{
                    width: 110px;
                    border: 1px solid $broder_color;
                    border-left: none;
                    padding: 10px;
                }
            }
        }

        .enter_pass{
            height: 38px;
            border: 1px solid $broder_color;
            padding-left: 10px;
            width: 100%;
            margin-bottom: 10px;
        }

        .withdraw_btn,.confirm_withdraw_btn{
            display: block;
            border-radius: 0px;
            margin-bottom: 40px;
            padding-left: 0px;
            padding-right: 0px;
        }
        .learn_about{

            font: 600 11.42px $font;
            color: #76adff;
        }

        .enter_your_passwerd{
            font: 600 20px $font;
            color: #4a4a4a;
            margin-bottom: 20px;
        }
        .confirm_msg{
            font: 12.69px $font;
            color: #4a4a4a;

        }
        &.step_3{
            width: auto;
        }
    }
}

.paymentAlertToViewJob,.prePayment{

    .paymentAlertToViewJobArea,.prePaymentContent{
        text-align: center;
        padding: 100px 0;
        .payment_alert_text{
            font:600 15px $font;
            color: #4a4a4a;
            margin-bottom: 20px;
        }
        .continue_btn,.payemnt_confirm_btn{
            border: 1px solid $broder_color;
            background: $button_color_bg;
            text-transform: uppercase;
            color: $white;
            display: inline-block;
            font:600 12.7px $font;
            padding: 10px 30px;
        }
        .no_thanks_btn,.payment_cancel{
            border: 1px solid $broder_color;
            text-transform: uppercase;
            color: #4a4a4a;
            display: inline-block;
            font:600 12.7px $font;
            padding: 10px 30px;
        }

        .learn_about{
            font:600 11.43px $font;
            color: #6fa8ff;
        }
    }
}

.projectSubmitted{
    .projectSubmittedArea{
        text-align: center;
        padding: 80px 50px;
        .congratulations{
            font:600 20px $font;
            color: #4a4a4a;
            margin: 10px 0;
        }
        .details{
            font: 12.7px $font;
            color: #9e9e9e;

        }
    }
}

.givenRating{
    .modal-dialog{
        width: 400px;
    }
    .given_rating_area{
        padding: 20px;
        text-align: center;
        .given_rating_heading{

        }
        .given_rating_body{
            .put_rating{
                text-align{
                    text-align: left;
                }
                .defaultCheckbox,.defultLabel{
                    display: none;
                }
                input{
                    display: none;
                }
                label{
                    background: url('../img/fill_star.png')  no-repeat center center ;
                    height: 20px;
                    width: 20px;
                }
                input:checked + label ~ label{
                    background: url('../img/empty_star.png') no-repeat center center;

                    width: 20px; 
                    height: 20px;
                    /*border: none;*/

                }

            }
            .put_comment{
                margin-bottom: 20px;
                textarea{
                    border: 1px solid $broder_color;
                    padding: 10px;
                    font: 12.69px $font;
                }
            }
        }
    }
}

.show_review{
    @media(min-width: 992px){
        .modal-content{
            width: 700px;
        }
    }

    .show_review_area{
        padding: 20px;
        .review_part{
            .heading{
                margin-bottom: 10px;
            }
            .user_rating_area{
                margin-bottom: 10px;
                label{
                    float: left;
                }
                .rating_area{
                    float: left;
                    margin-left: 10px;
                }
            }
        }
    }
}

