.web_services{
    .web_services_top{
        background-image: linear-gradient(to bottom right, #667eea, #764ba2);
        .top_banner_head{
            font-family: 'Open Sans', sans-serif;
            font-size: 43px;
            font-weight: 700;
            color: white;
            padding: 50px 15px 5px;
        }
        .top_banner_text{
            font-family: 'Open Sans', sans-serif;
            font-size: 23px;
            color: white;
            padding: 30px 15px 5px;
            font-style: italic;
        }
        .top_banner_start_btn{
            padding: 30px 15px 5px;
            .start_btn{
                color: white;
                font-weight: 700;
                font-size: 17px;
                background-color: #f99100;
                border: 1px solidColor #f99100;
                font-family: 'Open Sans', sans-serif;
            }
        }
        .top_banner_ratting{
            padding: 30px 15px 70px;
            .star{
                color: #ffcc00;
                font-size: 23px;
                padding-bottom: 10px;
            }
            .text{
                font-family: 'Open Sans', sans-serif;
                font-weight: 600;
                color: white;
                font-size: 19px;
            }
        }
        .top_banner_img{
            padding-top:50px;
            img{
                margin: 0 auto;

            }
        }
    }
    .web_services_step{
        background-color: #ffffff;
        padding-top:50px;
        .step_head{
            padding:0px 15px 0;
            .list{
                font-size: 14px; 
                color: #3988f5;
                padding: 0 15px 0 0;
            }
            .step_heading{
                font-weight: 700;
                color: #3988f5;
                font-size: 29px;
                font-family: 'Helvetica',sans-serif;

            }
            .step_heding_right{
                font-weight: 700;
                color: #454545;
                font-size: 29px;
                ffont-family: 'Helvetica';
            }
        }
        .template{
            .step_heading_text{
                font-family: 'Open Sans', sans-serif;
                font-size: 17.79px;
                color: #4b4b4b;
                padding: 15px 10px;
            }
            border-left: 4px dotted #b7b6b6;
            padding-bottom: 30px;
            margin:0 20px;
            .step_img{
                img{
                    padding: 30px;  
                }
            }
            .template_body{
                .template_img{
                    img{
                        width: 100%;
                        margin: 0 auto;
                    }

                }
                .template_name{
                    text-align: center;
                    font-size: 17.79px;
                    color: 4b4b4b;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 700;
                    padding: 15px;
                }
            }
        }
        .bonus{
            border-left: none; 
        }
    }
    .web_services_succeed{
        background-color:#f9f9f9;
        padding:60px 0;
        .succeed_heading{
            font-size: 29.79px;
            text-align: center;
            padding:15px;
            color: #454545;
            font-weight: 700;
            font-family: 'Helvetica';
        }
        .succeed_quats{
            font-size: 19px;
            color: 4b4b4b;
            font-family: 'Open Sans', sans-serif;
            font-weight: 500;
            padding: 40px 15px 10px;
            font-style: italic;
        }
        .succeed_star{
            padding: 10px 15px;
            .star{
                float: left;
                color: #ffcc00;

            }
            .text{
                padding: 0 10px;
                float: left; 
                font-size: 16px;
                color: 4b4b4b;
                font-family: 'Open Sans', sans-serif;
                font-weight: 500;
                font-style: italic;
            }
        }
    }
    .web_services_feature{
        background-image: linear-gradient(to bottom right, #667eea, #764ba2);
        padding:60px 0; 
        .feature_heading{
            font-size: 29.79px;
            text-align: center;
            padding:15px;
            color: white;
            font-weight: 700;
            font-family: 'Helvetica'; 
        }
        .feature_heading_text{
            padding: 0 15px 20px;
            font-size: 17px;
            text-align: center;
            color: white;
            font-family: 'Open Sans', sans-serif;

        }
        .feature_img{
            padding: 40px 15px 15px;
            img{
                margin: 0 auto;
            }


        }
        .feature_name{
            font-size: 20.75px;
            text-align: center;
            font-weight: 700;
            padding: 10px 15px;
            color: white;
            font-family: 'Open Sans', sans-serif;
        }
        .feature_description{
            font-size: 16px;
            padding: 10px 15px;
            text-align: center;
            color: white;
            font-family: 'Open Sans', sans-serif;
        }
    }
    .web_services_grow{
        background-color: #fcfcfc;
        padding:60px 0; 
        .grow_heading{
            font-size:29.65px;
            text-align: center;
            padding:15px;
            color: #454545;
            font-weight: 700;
            font-family: 'Helvetica';
        }
        .grow_heading_text{
            font-size: 17.82px;
            padding: 15px 15px 50px;
            text-align: center;
            color: #454545;
            font-family: 'Open Sans', sans-serif;
        }
        .grow_content{
            border:1px solid #cccccc;
            background-color: #ffffff;
            margin:15px 0;
            .grow_img{
                padding:30px 15px 15px;
                img{
                    margin: 0 auto;
                }
            }
            .grow_name{
                font-size:20.75px;
                text-align: center;
                padding:15px;
                color: #454545;
                font-weight: 700;
                font-family: 'Helvetica'; 
            }
            .grow_text{
                font-size: 14.82px;
                padding: 10px 15px;
                text-align: center;
                color: #454545;
                font-family: 'Open Sans', sans-serif;
            }
            .grow_button{
                text-align:center;
                padding:15px 15px 30px;
                .start_btn{
                    color: white;
                    font-weight: 700;
                    font-size: 14.82px;
                    background-color: #f99100;
                    border: 1px solid #f99100;
                    font-family: 'Open Sans', sans-serif;
                } 
            }
        }

    }
    .footer{
        background-image: linear-gradient(to right, #667eea, #764ba2);
        padding: 60px 0;
        .footer_text{
            font-size:29.75px;
            text-align: center;
            padding:15px;
            color: white;
            font-weight: 700;
            font-family: 'Helvetica'; 
        }
        .footer_button{
            text-align:center;
            padding:15px 15px;
            .start_btn{
                color: white;
                font-weight: 700;
                font-size: 17.82px;
                background-color: #f99100;
                border: 1px solid #f99100;
                font-family: 'Open Sans', sans-serif;
            }  
        }

    }


}