.hidden{
    display: none;
}
.show,
.main-content .output.show{
    display: block;
}
.form-new .step{
    display: none;
}
.form-new .step.active{
    display: block;
}
.form-new label.error{
    font-weight: normal;
    font-size: 14px;
    color: #d66;
    margin-top: 8px;
    padding-left: 8px;
}
.form-new .form-control.error{
    border-color: #d66;
    color: #d66;
    font-weight: normal;
}
.form-new .custom-control-input.error ~ .custom-control-label::before{
    background-color: #fff;
    border: 1px solid#d66;
}
.form-new .custom-control-input.error ~ .custom-control-label{
    color: #d66;
    font-weight: normal;
}
.form-new input.error{
    border: 1px solid#d66;
}
.form-new input[type=checkbox].error{
    position: relative;
    cursor: pointer;
}
.form-new input[type=checkbox].error:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #d66;
    border-radius: 3px;
    background-color: #d66;
    width: 12px;
    height: 12px;;
}
.form-new input[type=checkbox].error:checked:after {
    content: "";
    display: block;
    border: 1px solid #d66;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 6px;
}
.form-new input[type=checkbox].error ~ .form-check-label{
    color: #d66;
    font-weight: normal;
}