@font-face {
    font-family: Open Sans;
    src: url(../fonts/OpenSans-Light.ttf);
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #273951;
    /* font-family: 'Montserrat', sans-serif; */
}

a {
    color: inherit;
}

a:hover {
    text-decoration: none;
}

.navbar {
    padding-left: 0;
    padding-right: 0;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    font-size: 13px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.9);
}

.navbar-expand-md .navbar-nav .nav-item.active>.nav-link {
    color: #f99101;
}

.banner {
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    min-height: 550px;
    display: block;
    background-size: cover;
    background-position: center;
    position: relative;
}

.search-wrp {
    padding-top: 4%;
    padding-bottom: 4%;
}

.search-inp {
    padding: 10px;
    border: none;
    width: 36%;
}

.bd-rdu {
    border-radius: 25px;
    font-size: 13px;
    background-color: #fff;
    color: #a1a9b3;
    padding-left: 15px;
    padding-right: 15px;
}

.b-title {
    font-size: 40px;
    width: 460px;
}

.b-wrapper-text {
    width: 50%;
    float: left;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.col-xs-2 {
    width: 16.66666667%;
}

.col-half-offset {
    margin-left: 4.166666667%
}

.title {
    font-weight: bold;
    padding-top: 2%;
    padding-bottom: 2%;
}

.img-icon {
    margin: 0 auto;
}

.box-wrp {
    box-shadow: 0px 0px 0px 1px rgb(0 0 0 / 5%);
    padding: 10px;
}

.row-2 {
    padding-top: 5%;
}

.btn-view {
    background-color: #f99101;
    color: #fff;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 600;
}

.fa-next {
    font-weight: 200;
}

.work-wrp {
    padding: 40px;
}

.cta-wrp {
    background-color: #283b54;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    padding: 5%;
}

.cta-title {
    font-size: 25px;
    font-weight: bold;
}

.input-container {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    /* width: 60%; */
    margin-bottom: 15px;
    /* background: white; */
    border-radius: 5px;
}

.icon {
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
}

.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
}

.input-field:focus {
    border: 2px solid dodgerblue;
}

.fa-search {
    padding: 15px;
    background-color: white;
}

.btn-search {
    background-color: #f99101;
    border-radius: 0px 5px 5px 0px;
    /* top left, top right, bottom right, bottom left */
    /* margin-left: 21%; */
    font-size: 16px;
    padding: 0 5%;
    color: #fff;
    font-weight: 600;
}

.img-wrapper {
    padding: 10px;
}

.work-title {
    font-weight: 600;
}

.work-img {
    margin: 0 auto;
    display: block;
    width: 240px;
}

.social {
    margin-top: 10%;
}

ul {
    list-style: none;
}

.col {
    float: left;
}

.child_ul {
    padding-left: 5px;
}

.f-title {
    font-weight: bold;
}

.f-item {
    font-size: 13px;
    line-height: 30px;
    font-weight: 600;
}

.container .row .right {
    display: flex;
    justify-content: flex-end;
}

.container .row .position {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    font-weight: 100;
    color: #f99101;
}

.container .row .pos1 {
    position: relative;
    bottom: 43%;
    left: 4%;
}

.container .row .pos2 {
    position: relative;
    bottom: 53%;
    left: 8%;
}

.container .row .bold .link {
    font-weight: bold;
}

.container .row .fas {
    font-size: 12px;
    font-weight: 100;
    color: #f99101;
}

.container .row .text {
    font-weight: 600;
}

.container .row .text1 span:first-child {
    margin-right: 50px;
}

.container .row .underlg {
    font-size: 13px;
    font-weight: 600;
}


/* Start Modal login and signup */

.have-account {
    margin-top: 15px;
    margin-bottom: 25px;
}

.modal-source {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    position: relative;
    bottom: 15px;
}

.modal-form .title {
    text-align: center;
}

.btn-signup {
    background-color: #71bf1b;
}

.submit .btn {
    background-color: #71bf1b;
}


/* .clearfix {
    padding: 0;
    margin: 0;
    line-height: 0;
    width: 0;
    height: 0;
    font-size: 0;
    clear: both;
} */


/* .modal-body {
    display: flex;
} */


/* .modal-signup {
    height: 375px;
}

.modal-login {
    height: 308px;
} */


/* .signup-source {
    margin-top: 29%;
} */


/* End Modal login and signup */


/* Extra small devices (portrait phones, less than 576px) */

@media only screen and ( max-width: 575.98px) {
    .container .navbar .collapse {
        position: relative;
        right: 5%;
    }
    .b-title {
        font-size: 120%;
        width: 170%;
    }
    .b-wrapper-text form {
        font-size: 67%;
    }
    .b-wrapper-text .width {
        width: 125%;
    }
    .input-container {
        width: 270%;
        /* font-size: 70%; */
    }
    /* .search-inp {
        font-size: 75%;
    } */
    .btn-search {
        padding: 0 2%;
    }
    .text {
        font-size: 13px;
    }
    .container .row .align {
        width: 100%;
        margin: auto;
    }
    .container .row .position {
        display: none;
    }
    .container .row .center .title img {
        width: 15%;
    }
    .container .row .center .title span {
        font-size: 100%;
    }
    .container .row .center {
        text-align: center;
    }
    /* .sign_up_area .sign_up_form {
        padding: 25px 0 20px 0;
        text-align: center;
        width: 350px;
    }
    .modal-dialog {
        width: 86%;
    } */
    .modal-body .right img {
        width: 100%;
        /* height: 356px; */
    }
    .have-account {
        text-align: center;
        font-size: 12px;
    }
    .modal-source {
        margin-bottom: 10px;
    }
    .forgot-pass {
        font-size: 12px;
    }
    .modal-source a {
        font-size: 8px;
    }
}


/* Small devices (landscape phones, 576px and up) */

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
    .container .navbar .collapse {
        position: relative;
        right: 4%;
    }
    .b-title {
        font-size: 175%;
    }
    .b-wrapper-text form {
        font-size: 118%;
    }
    .input-container {
        width: 195%;
    }
    .btn-search {
        padding: 0 5%;
    }
    .text {
        font-size: 20px;
    }
    .text1 span:first-child {
        margin-right: 40px;
    }
    .container .row .align {
        width: 100%;
        margin: auto;
    }
    .container .row .position {
        display: none;
    }
    .container .row .center {
        text-align: center;
    }
    .container .row .text2 {
        position: relative;
        right: 23%;
    }
    .modal-body .right img {
        width: 100%;
    }
}


/* Medium devices (tablets, 768px and up) */

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .container .navbar .navbar-brand img {
        width: 70%;
    }
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        font-size: 13px;
    }
    .b-title {
        font-size: 230%;
        width: 115%;
    }
    .b-wrapper-text form {
        font-size: 118%;
    }
    .input-container {
        width: 155%;
    }
    .container .row .pos1 {
        position: relative;
        bottom: 52%;
        left: 13%;
    }
    .container .row .pos2 {
        position: relative;
        bottom: 60%;
        left: 9%;
    }
    .container .row .img-cover img {
        width: 165%;
    }
    .container .row .small {
        font-size: 10px;
        position: relative;
        left: 25px;
    }
    .container .row .img-logo {
        width: 95%;
    }
    .modal .modal-dialog {
        width: 700px;
        height: 500px;
    }
    .modal-body {
        display: flex;
    }
    .modal-body .right {
        float: right;
        position: absolute;
        top: 0%;
        left: 52%;
    }
    .modal-body .right img {
        width: 225px;
        height: 314px;
    }
    .modal-signup {
        height: 375px;
    }
    .modal-login {
        height: 308px;
    }
    .have-account {
        font-size: 12px;
    }
    .modal-source {
        font-size: 7px;
    }
    .modal-body .col-right img {
        width: 115%;
        position: relative;
        bottom: 4%;
        height: 108%;
    }
}


/* Large devices (desktops, 992px and up) */

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    .container .navbar .collapse .align {
        position: relative;
        right: 7%;
    }
    .b-title {
        font-size: 295%;
        width: 115%;
    }
    .input-container {
        width: 150%;
    }
    .container .row .pos1 {
        position: relative;
        bottom: 52%;
    }
    .container .row .img-cover img {
        width: 135%;
    }
    .modal .modal-dialog {
        width: 700px;
    }
    .modal-body {
        display: flex;
    }
    .modal-signup {
        height: 375px;
    }
    .modal-body .right {
        float: right;
        position: absolute;
        top: 0%;
        left: 52%;
    }
    .modal-body .right img {
        width: 321px;
        height: 327px;
    }
    .modal-body .col-right img {
        width: 110%;
        position: relative;
        bottom: 4%;
        height: 108%;
    }
}


/* Extra large devices (large desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    .modal .modal-dialog {
        width: 700px;
        height: 400px;
    }
    .modal-body {
        display: flex;
    }
    .modal-body .right {
        float: right;
        position: absolute;
        top: 0%;
        left: 52%;
    }
    .modal-body .right img {
        width: 321px;
        height: 312px;
    }
    .modal-body .col-right img {
        width: 110%;
        position: relative;
        bottom: 4%;
        height: 108%;
    }
}