.become-a-pro-wrapper {
	
	font-size: 18px;
}
.become-a-pro-wrapper .banner {
    background-image: url(../img/Become-a-pro-banner.png);
    background-repeat: no-repeat;
    min-height: 550px;
    display: block;
    background-size: cover;
    background-position: center;
    position: relative;
}
.become-a-pro-wrapper .banner_img img{
	width: 100%;
}
.become-a-pro-wrapper .title{
	padding-bottom: 0;
	font-size: 32px;
}
.temp-content {
    padding-top: 5px;
    padding-bottom: 30px;
    color: #5a7184;
}
.onl_wrapper {
    padding: 35px;
    border-radius: 4px;
    border: 1.5px solid #a1c1dc30;
}
.onl_img img {
     border: 1.5px solid #a1c1dc30; 
    padding: 10px;
}
.onl_name {
    font-size: 24px;
    margin-bottom: 5px;
    color: #16133e;
	font-weight: bold;
    margin-top: 3%;
}

.onl_paragraph {
    margin-bottom: 5%;
    color: #16133e;
}
.onl_link a {
    color: #5a9417;
}
.fea-content {
    margin-top: 5%;
}
.become-a-pro-wrapper a.bt {
    padding: 14px 30px;
    text-align: center;
    border-radius: 1px;
    border-radius: 4px;
	background: #283b54;
    color: #fff;
	font-size: 13px;
}

.become-a-pro-wrapper .banner_img img {
    margin: 0 auto;
}
.become-a-pro-wrapper a.bt.banner_button2:hover {
    background: #007ffc;
    color: #fff;
}
.become-a-pro-wrapper .feature-wrapper{
	padding-top: 4%;
    padding-bottom: 4%;
}
.become-a-pro-wrapper .steps {
    padding-bottom: 5%;
}

.become-a-pro-wrapper .feature-wrapper .title{
	font-size: 22px;
}
.become-a-pro-wrapper .feature-content-r{
	padding-right: 5%;
}
.become-a-pro-wrapper .feature-content-l{
	padding-left: 5%;
}
.become-a-pro-wrapper  .banner_button {
    margin-top: 5%;
}
.bcap-icon{
	width: 5%;
    float: left;
    margin-top: 5%;
    margin-right: 2%;
}
.right{
	float: right;
	margin-right: 0;
	margin-top: 0;
}
.become-a-pro-wrapper .b-wrapper-text1{
	background-color: #e9e9e9;
    display: table;
    margin: 0 auto;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 2%;
    padding-right: 2%;
	font-weight: 900;
	margin-top: 5%;
}
.become-a-pro-wrapper .b-title{
	font-size: 27px;
    color: #283b54;
	text-align: center;
    margin-bottom: 4%;
}
.become-a-pro-wrapper .banner .banner-content{
	display: table;
    margin: 0 auto;
    margin-top: 8%;
}
.become-a-pro-wrapper .btn-search{
	width: 100%;
	padding: 10px;
	border-radius: 2px;
	background-color: #283b54;
}
.become-a-pro-wrapper .btn-search:hover{
	background-color: #007ffc;
}
.become-a-pro-wrapper .search-inp{
	width: 100%;
}
.become-a-pro-wrapper .input-container{
	width: 100%;
}
.become-a-pro-wrapper .fa-wrench{
	padding: 15px;
    background-color: #fff
}
.become-a-pro1 select#works{
	width: 100%;
	padding: 5px;
    border-radius: 5px;
}
.become-a-pro2 .agree-box{
	margin-top: 10%;
}
.become-a-pro-wrapper .btn-search{
	margin-left: 0;
}

.select-wp:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}
@media only screen and (max-width: 1199.98px) and (min-width: 992px){
.become-a-pro-wrapper .b-wrapper-text1{
	width: 50%;
}
.become-a-pro-wrapper .b-title {
    width: 100%;
}
.become-a-pro-wrapper .input-container {
    width: 100%;
	
}
}

@media only screen and (max-width: 991.98px) and (min-width: 768px){
.become-a-pro-wrapper .b-wrapper-text1{
	width: 50%;
}
.become-a-pro-wrapper .b-title {
    width: 100%;
}
.become-a-pro-wrapper .input-container {
    width: 100%;
	
}
}
@media only screen and (max-width: 575.98px){
	.become-a-pro-wrapper .b-wrapper-text1{
	width: 100%;
}
.become-a-pro-wrapper .b-title {
    width: 100%;
	
    font-size: 20px;

}
.become-a-pro-wrapper .input-container {
    width: 100%;
}
.become-a-pro-wrapper .title{
	font-size: 22px;
}
.onl_name{
	font-size: 18px;
}
.onl_wrapper{
	margin-bottom: 10%;
}
}
