.main-content {
    background-color: #f9f9f9;
}

.main-content .title {
    font-weight: 600;
    font-size: 35px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(40, 59, 84);
    line-height: 1.575;
    text-align: center;
}

.main-content .animation {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.21);
}

.main-content .frm-row {
    margin-left: 0;
    margin-right: 0;
}

.main-content label {
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(39, 57, 81);
    font-weight: bold;
    line-height: 1.2;
}

.main-content .select-wp select {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: rgb(39, 57, 81);
}

.main-content .select-wp option {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: rgb(39, 57, 81);
    line-height: 1.2;
    font-weight: bold;
}

.main-content .frm-row>.custom-control>label {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(39, 57, 81);
}

.main-content .btn {
    font-weight: bold;
}

.main-content .form-group .form-control {
    font-size: 17px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    color: rgb(39, 57, 81);
}

.main-content .btn-create,
.main-content .btn-next {
    font-family: 'Open Sans', sans-serif;
    background-color: #f99101;
    font-size: 14px;
    color: rgb(255, 255, 255);
}

.main-content .btn-create:hover,
.main-content .btn-next:hover {
    box-shadow: 0 0 11px rgba(0, 0, 0, .5);
}

.main-content .btn-back {
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #ced4da;
    background-color: transparent;
    font-size: 14px;
    color: rgb(40, 59, 84);
}

.main-content .btn-back:hover {
    box-shadow: 0 0 11px rgba(0, 0, 0, .5);
}